<!--Template for each tab.  Defined in the root directory so that image references don't have to between development/runtime (so that IDE navigation/highlighting works for them)-->
<div id="tab1" class="tab">

    <!--Has to go in front of canvas but behind buttons so couldn't factor it out of tab-->
    <ul class="nav nav-pills">
        <li class="active"><a href="#">Introduction</a></li>
        <li><a href="#">Friction</a></li>
        <li><a href="#">Track Playground</a></li>
    </ul>

    <canvas class="play-area"></canvas>

    <div class="control-panel">
        <div data-toggle="buttons-checkbox" class="btn-group btn-group-vertical">
            <button class="btn barGraphButton"><%= barGraph %><img src="resources/images/barChartIcon.png"></button>
            <button class="btn pieChartButton"><%= pieChart %><img src="resources/images/pieChartIcon.png"></button>
            <button class="btn gridButton"><%= grid %><img src="resources/images/gridIcon.png"></button>
            <button class="btn speedButton"><%= speed %><img src="resources/images/speedIcon.png"></button>
        </div>
        <div>
            <button class="btn-large">Return Skater</button>
            <button class="btn-large reset-all-button">Reset All</button>
        </div>
    </div>

    <div class="footer"></div>

</div>