<!--Template for each tab.  Defined in the root directory so that image references don't have to between development/runtime (so that IDE navigation/highlighting works for them)-->
<div id="<%= id%>" class="tab">

    <canvas class="play-area"></canvas>

    <!--Has to go in front of canvas but behind buttons so couldn't factor it out of tab-->
    <!--<ul class="nav nav-pills">-->
    <!--<li class="introductionTabButton"><a href="#">Introduction</a></li>-->
    <!--<li class="frictionTabButton"><a href="#">Friction</a></li>-->
    <!--<li class="trackPlaygroundTabButton"><a href="#">Track Playground</a></li>-->
    <!--</ul>-->

    <div class="control-panel">

        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup">
                <input type="checkbox" name="checkbox-2" id="checkbox-2" class="custom barGraphButton control-panel-checkbox"/> <label for="checkbox-2"><%= barGraph %></label>
                <input type="checkbox" name="checkbox-3" id="checkbox-3" class="custom pieChartButton control-panel-checkbox"/> <label for="checkbox-3"><%= pieChart %></label>
                <input type="checkbox" name="checkbox-4" id="checkbox-4" class="custom gridButton control-panel-checkbox"/> <label for="checkbox-4"><%= grid %></label>
                <input type="checkbox" name="checkbox-5" id="checkbox-5" class="custom speedometerButton control-panel-checkbox"/> <label for="checkbox-5"><%= speed %></label>
            </fieldset>
        </div>

        <div class="reset-controls">
            <button class="return-skater-button">Return Skater</button>
            <button class="reset-all-button">Reset All</button>
        </div>
    </div>

    <div class="footer">
        <fieldset data-role="controlgroup" data-type="horizontal" class="speed-buttons">
            <input type="radio" name="radio-choice" id="slow-motion-button" value="choice-1">
            <label for="slow-motion-button">Slow Motion</label>

            <input type="radio" name="radio-choice" id="normal-button" value="choice-2" checked="checked"/>
            <label for="normal-button">Normal</label>
        </fieldset>

        <a href="index.html" data-role="button" data-inline="true" class="play-pause-button">&#10074;&#10074;</a>
    </div>

</div>