<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <!-- This file contains the information needed to initialize Hibernate -->

    <session-factory>

        <!-- Database connection settings (Currently uses PostgreSQL) -->
        <property name="connection.datasource">java:comp/env/jdbc/phet</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Connection Pool Options -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">1800</property>
        <property name="hibernate.c3p0.max_statements">50</property>

        <property name="hibernate.cache.provider_class">net.sf.ehcache.hibernate.EhCacheProvider</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>

        <!-- Enable this (and the lines in log4j.properties) to show all of the SQL that is being executed -->
        <!--<property name="hibernate.show_sql">true</property>-->

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>


        <!-- Data mappings -->

        <mapping resource="edu/colorado/phet/website/data/Project.hbm.xml"/>
        <mapping resource="edu/colorado/phet/website/data/Simulation.hbm.xml"/>
        <mapping resource="edu/colorado/phet/website/data/LocalizedSimulation.hbm.xml"/>

        <mapping resource="edu/colorado/phet/website/data/TeachersGuide.hbm.xml"/>

        <mapping resource="edu/colorado/phet/website/data/Category.hbm.xml"/>

        <mapping resource="edu/colorado/phet/website/data/Translation.hbm.xml"/>
        <mapping resource="edu/colorado/phet/website/data/TranslatedString.hbm.xml"/>

        <mapping resource="edu/colorado/phet/website/data/Keyword.hbm.xml"/>

        <mapping resource="edu/colorado/phet/website/data/PhetUser.hbm.xml"/>

        <mapping resource="edu/colorado/phet/website/data/contribution/Contribution.hbm.xml"/>
        <mapping resource="edu/colorado/phet/website/data/contribution/ContributionFile.hbm.xml"/>
        <mapping resource="edu/colorado/phet/website/data/contribution/ContributionComment.hbm.xml"/>
        <mapping resource="edu/colorado/phet/website/data/contribution/ContributionLevel.hbm.xml"/>
        <mapping resource="edu/colorado/phet/website/data/contribution/ContributionSubject.hbm.xml"/>
        <mapping resource="edu/colorado/phet/website/data/contribution/ContributionType.hbm.xml"/>
        <mapping resource="edu/colorado/phet/website/data/contribution/ContributionFlag.hbm.xml"/>
        <mapping resource="edu/colorado/phet/website/data/contribution/ContributionNomination.hbm.xml"/>

        <mapping resource="edu/colorado/phet/website/data/NotificationEvent.hbm.xml"/>

        <collection-cache collection="edu.colorado.phet.website.data.Project.simulations" usage="nonstrict-read-write"/>
        <collection-cache collection="edu.colorado.phet.website.data.Simulation.localizedSimulations" usage="nonstrict-read-write"/>
        <collection-cache collection="edu.colorado.phet.website.data.Translation.translatedStrings" usage="read-write"/>

        <event type="post-insert">
            <listener class="edu.colorado.phet.website.data.util.HibernateEventListener"/>
        </event>
        <event type="post-update">
            <listener class="edu.colorado.phet.website.data.util.HibernateEventListener"/>
        </event>
        <event type="post-delete">
            <listener class="edu.colorado.phet.website.data.util.HibernateEventListener"/>
        </event>

    </session-factory>

</hibernate-configuration>