div.rtl #sponsors-people ul li {
    zoom: 1;
}

.see-below {
    margin-top: 10px;
}

div.ltr .social-div {
/* don't feel like dealing with a double-margin bug here. */
    margin-right: -12px !important;
}

div.rtl .social-div {
/* don't feel like dealing with a double-margin bug here. */
    margin-left: -12px !important;
}

div.practices {
    padding-top: 15px !important;
}

#page-content .contribution-browse-table {
/* changes table width so the float clear works */
    width: auto;
}

#simulation-main-panel-content-header-clear {
/* clear when tips for teachers are available. see SimulationMainPanel */
    clear: right;
}