div.ltr #side-panel {
    float: left;
    width: 240px;
}

div.rtl #side-panel {
    float: right;
    width: 240px;
}

div.ltr #main-content {
    margin-left: 240px;
}

div.rtl #main-content {
    margin-right: 240px;
}

div.main-footer {
    clear: both;
    margin-bottom: 30px;
}

div.main-footer-spacer {
    padding-bottom: 20px;
}

div.other-languages {
    border-top: 1px solid gray;
    padding-top: 10px;
    text-align: center;
}

div.menu-page-content {
/* width specified in element style attribute during runtime */
    margin: 0 auto;
}

div.ltr .social-div {
    position: absolute;
    right: 0;
    margin-right: -55px;
    padding-left: 10px;
    width: 16px; /* was 32 */
    /*border-left: 1px solid #d36a04;*/
    padding-top: 8px;
}

div.rtl .social-div {
    position: absolute;
    left: 0;
    margin-left: -55px;
    padding-right: 10px;
    width: 16px; /* was 32 */
    /*border-right: 1px solid #d36a04;*/
    padding-top: 8px;
}

.social-sub-div {
    padding: 0;
    margin: 0;
    border: none;
    margin-bottom: 8px;
}