#get_phet {
    width: 515px;
    margin: 1px 1px 10px 1px;
    padding: 0;
    border: 2px solid black;
    background: none;
    font-size: 12px;
}

#get_phet caption {
    padding: 0 0 5px 0;
    font: italic 11px "arial", Verdana, Arial, Helvetica, sans-serif;
    text-align: left;
}

#get_phet table {
    border-collapse: collapse;
}

#get_phet th.nobg {
    border-top: 0;
    border-left: 0;
    border-right: 1px solid #C1DAD7;
    background: none;
}

#get_phet table p {
    margin: 0;
    padding: 0.5ex;
}

#get_phet table tr th:first-child {
    width: 12em;
}

#get_phet td.alt {
    background: #F5FAFA;
}

#get_phet td.alt p {
    color: #797268;
}

#get_phet th.spec {
    border-left: 1px solid gray;
    border-top: 0;
    background: #fff;
}

#get_phet th.spec p {
}

#get_phet th.spec-none {
    border-top: 0;
    background: #133078;
    border-top: 1px solid black;
}

#get_phet th.spec-none p {
    color: #fff;
}

#get_phet th.specalt {
    border-left: 1px solid gray;
    border-top: 0;
    background: #f5fafa;
}

#get_phet th.specalt p {
    color: #797268;
}

#get_phet th.specalt-none {
    border-left: 1px solid gray;
    border-top: 0;
    background: #133078;
}

div.rtl #get_phet th.specalt-none {
    border-left: none;
    border-right: 1px solid gray;
}

#get_phet th.specalt-none p {
    color: #fff;
}

#get_phet .click-here a {
    background-color: #000000;
    border: 1px solid gray;
    text-decoration: none;
    padding: 2px 5px;
    color: white;
}

#get_phet .click-here {
    padding-bottom: 5px;
}

#get_phet th {
    font-weight: normal;
}