.simulation-main-title {
    color: #990000;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px;
    min-height: 20px;
}

.simulation-main-image-panel {
    float: left;
    margin-right: 20px;
    width: 300px;
}

div.rtl .simulation-main-image-panel {
    margin-right: 0;
    margin-left: 20px;
}

.simulation-main-link-run-main {
    text-decoration: none;
}

.simulation-main-screenshot {
    border: none;
}

.simulation-main-translation-list {
    font-size: 12px;
}

.simulation-main-table {
    padding-bottom: 10px;
}

.simulation-main-description {
    /*line-height: 150%;*/
    vertical-align: top;
    padding: 0;
}

.simulation-main-support-button {
    margin-top: 15px;
    margin-bottom: 15px;
}

.sim-clear {
    clear: left;
    border: 1px solid red;
    height: 20px;
}

.simulation-main-container h2 {
    color: #cc6600;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-variant: small-caps;
    letter-spacing: 1px;
    margin: 10px 0 5px;
    padding-top: 5px;
    border-top: 1px solid #cc6600;
}

.simulation-main-container h3 {
    color: #15337f;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sim-version {
    float: right;
    clear: both;
    margin-top: 4px;
}

.sim-kb {
    float: left;
    clear: left;
    margin-top: 4px;
}

.sim-button {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: black;
    padding: 1px 10px;
    margin-top: 4px;
}

.sim-download {
    float: left;
    background-color: #55caff;
    border: 1px solid #99ffff;
    border-right-color: #005577;
    border-bottom-color: #005577;
}

.sim-download:hover {
    background-color: #55aaff;
}

.sim-download:active {
    border: 1px solid #005577;
    border-right-color: #99ffff;
    border-bottom-color: #99ffff;
}

.sim-run-now {
    float: right;
    background-color: #1fff01;
    border: 1px solid #aaffaa;
    border-right-color: #006600;
    border-bottom-color: #006600;
}

.sim-run-now:hover {
    background-color: #00cc00;
}

.sim-run-now:active {
    border: 1px solid #006600;
    border-right-color: #aaffaa;
    border-bottom-color: #aaffaa;
}

.keyword-list-holder {
    list-style-type: none;
    margin: 0 20px;
    padding: 0;
}

.keyword {
    display: inline;
    margin: 0;
    padding: 0 5px 0 0;
}

.simulation-contributions-pane {
    margin-left: 5px;
}

div.rtl .simulation-contributions-pane {
/* leave the other margin? */
    margin-right: 5px;
}

/* TODO: Clean up this table CSS */
table.system-requirements-table {
    margin: 5px 0 5px;
    position: relative;
    left: 5px;
    width: 505px;
}

table.system-requirements-table th {
    text-align: left;
    border-bottom: 1px solid #bbbbbb;
    padding-bottom: 3px;
}

table.system-requirements-table td {
    vertical-align: top;
    padding-right: 15px;
}

table.credits-table {
    margin: 5px 0 15px;
    position: relative;
    left: 5px;
    width: 505px;
}

table.credits-table th {
    text-align: left;
    border-bottom: 1px solid #bbbbbb;
    padding-bottom: 3px;
}

table.credits-table td {
    vertical-align: top;
    padding-right: 15px;
}

table.credits-table ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

table.translations-table {
    margin: 5px 0 15px;
    position: relative;
    left: 5px;
    width: 505px;
}

table.translations-table th {
    text-align: left;
    border-bottom: 1px solid #bbbbbb;
    padding-bottom: 3px;
}

/*table.translations-table td {*/
    /*vertical-align: top;*/
/*}*/

table.simulation-main-translations-table {
    margin: 5px 10px 15px;
    width: 505px;
}

div.rtl table.translations-table, div.rtl table.credits-table, div.rtl table.system-requirements-table {
    left: auto;
    right: 5px;
}

div.rtl table.translations-table th, div.rtl table.credits-table th, div.rtl table.system-requirements-table th {
    text-align: right;
}

.untranslated-sim-text {
    color: red;
}

.simulation-main-container {
    position: relative;
}

div.rating-holder {
    text-align: right;
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
}

div.rtl div.rating-holder {
    text-align: left;
    right: auto;
    left: 0;
}

.see-below {
    float: right;
    background-color: white;
    padding-left: 15px;
    padding-bottom: 15px;
    border-left: 1px solid #cc6600;
    border-bottom: 1px solid #cc6600;
    border-top: 1px solid #cc6600;
}

div.rtl .see-below {
    float: left;
    padding-left: 0;
    padding-right: 15px;
    border-left: none;
    border-right: 1px solid #cc6600;
}

ul.see-below-links {
    padding: 0;
    margin: 0;
}

ul.see-below-links li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.see-below a {
    text-decoration: none;
}

body#offline-installer-body .sim-kb {
    visibility: hidden;
}

body#offline-installer-body .sim-download {
    visibility: hidden;
}