Questions on the "Discrete to Continuous" module:
(answers from phone call with Sam M., 7/11/05)

¥ Should the three graphs be labeled Amplitudes, Harmonics and Sum, as in the Discrete module?

Yes.

¥ Does the vertical scale of the Amplitudes graph change as the spacing between harmonics is changed?  

Yes. The amplitude coefficients are normalized so that the Sum graph always has a maximum amplitude of 1.

¥ Do you really want a horizontal zoom control on the Amplitudes graph?

No. But because changing the width in either k or x space will change the horizontal rang, this graph will be rescaling.

¥ Should there be a vertical zoom and auto scale on the Sum graph?

No, scale is always -1 to +1.

¥ Do the Amplitude sliders look identical to those in the Discrete module?  If not, how are they different?

They are not sliders, or in any way interactive.

¥ Do Amplitudes and Harmonics graphs use grayscale instead of color?  Highlighting?

Yes, grayscale. No highlighting.

¥ How do axes, labels & equations change when switching between domains?

Space: k, x, lamda, meters
Time: k->omega, x->t, lamda->T, meters->seconds
Space-&-time: get rid of it

¥ Explain how the "spacing" slider works. How does the selected value map to a number of harmonics? 

The spacing value is the distance between any two adjacent harmonics.
As slider is dragged, number of components changes, width of the curve does not change.
Spacing is measured from center-to-center of harmonics "bars" in Amplitudes graph.

¥ What does a spacing of zero mean?

Causes the "continuos" checkbox to be checked and replaces the Amplitude components with a continuous curve.

¥ Explain the horizontal scale in Amplitudes graph.

radians per wavelength.
Change this label to "rad/m" (radians per meter)

¥ How are the amplitude coefficients determined?

Sam will find a formula that will normalize to a Sum of 1.

¥ Explain how the "Continuous" checkbox works.

Replaces the bars in Amplitude graph with a continuos curve, like in the Continuous module.
Use the A(k) formula on Slide 24. 
k1 measurement tool is replaced by something that says "k1=0"

¥ No math mode?

No.

¥ Are we using k (wave number) or m (mode) to refer to a specific harmonic?

k

¥ Does "m" stand for meters or mode?

meters

¥ What do the width controls apply to?

Put a titled border around both width controls: "Gaussian wave packet"

¥ Explain the "Width in k-space" control.

The k width of the packet is the width of the curve at 1/2 its vertical height.

Increasing k width causes x width to decrease.
Increasing k width causes Ampltidue graph range to increase proportionally.

¥ What is the range & precision of the k-space width slider?

delta k is in radians/meter.
Sam will figure out the range.
Slider will be labeled in terms of PI.
Values will be displayed with 2 digits of precision after the decimal point.

¥ Is the delta k text field necessary?

Remove the text field.

¥ Explain the "Width in x-space" control.

Increasing x width causes k width to decrease.

¥ What is the range & precision of the x-space width slider?

delta x is in meters.
Sam will figure out the range.
Slider will be labeled in terms of meters.
Values will be displayed with 2 digits of precision after the decimal point.

¥ Is the delta x text field necessary?

Remove the text field.

¥ Explain the 4 measurement tools shown in the screen snapshots.  Are they always visible? moveable? constrained?

Always visible, moveable, constrained to the graph that they're shown in.

¥ On Slide 24, what does sigma tand for?  How will the user know this?  Where does it appear in the module?

sigma is the width of the gaussian packet, equivalent to delta x.

¥ Slide 24 says "Both wave packets are Gaussian..."  What do you mean by "both"?

The wave packet in k space (Ampltiudes graph) and the Fourier transform of that packet (in the Sum graph) in x space.
