Questions on the "Discrete to Continuous" module:
(answers from phone call with Sam M., 7/11/05)

¥ Should the three graphs be labeled Amplitudes, Harmonics and Sum, as in the Discrete module?

Yes.

¥ Does the vertical scale of the Amplitudes graph change as the spacing between harmonics is changed?  

Maybe -- set it to 0...1 for now. The amplitude coefficients are normalized so that the Sum graph always has a maximum amplitude of 1.

¥ Do you really want a horizontal zoom control on the Amplitudes graph?

No. But because changing the width in either k or x space will change the horizontal range, this graph will be rescaling.

¥ Should there be a vertical zoom and auto scale on the Sum graph?

No, scale is always -1 to +1.

¥ Do the Amplitude sliders look identical to those in the Discrete module?  If not, how are they different?

They are not sliders, or in any way interactive.

¥ Do Amplitudes and Harmonics graphs use grayscale instead of color?  Highlighting?

Yes, grayscale. No highlighting.

¥ How do axes, labels & equations change when switching between domains?

Space: k, x, lamda, millimeters
Time: k->omega, x->t, lamda->T, millimeters->milliseconds
Space-&-time: get rid of it

¥ Explain how the "spacing" slider works. How does the selected value map to a number of harmonics? 

The spacing value is the distance between any two adjacent harmonics.
As slider is dragged, number of components changes, width of the curve does not change.
Spacing is measured from center-to-center of harmonics "bars" in Amplitudes graph.

¥ What does a spacing of zero mean?

Replaces the Amplitude component bars with a continuous curve.
Use the A(k) formula on Slide 24 to compute the curve.
The area under the curve is filled with a dark-to-light gradient, ala the grayscale values of the bars.
k1 measurement tool is replaced by something that says "k1=0"

¥ Explain the horizontal scale in Amplitudes graph.

radians per wavelength.
Change this label to "rad/mm" (radians per millimeter)

¥ How are the amplitude coefficients determined?

Sam will find a formula that will normalize to a Sum of 1.

¥ Explain how the "Continuous" checkbox works.

Adds a continuous curve to the Amplitudes graph.
Use the A(k) formula on Slide 24 to compute the curve. 

¥ No math mode?

No.

¥ Are we using k (wave number) or m (mode) to refer to a specific harmonic?

k

¥ Does "m" stand for meters or mode?

meters (change to mm for millimeters)

¥ What do the width controls apply to?

Put a titled border around both width controls: "Wave packet width"

¥ Explain the "Width in k-space" control.

The k width of the packet is the width of the curve at 1/2 its vertical height.
Range is 0...2pi
Slider is discrete, snaps to values at 0, pi/4, pi/2, pi, 2pi
Values will be displayed with 2 digits of precision after the decimal point.
Increasing k width causes x width to decrease.
Increasing k width causes Ampltidue graph range to increase proportionally.
dk * dx = 1

¥ What is the range & precision of the k-space width slider?

delta k is in radians/millimeters.
Range is 1...5pi
Slider has symbolic labels at 1, pi, 2pi, 3pi, 4pi, 5pi
Values will be displayed with 2 digits of precision after the decimal point.

¥ Is the delta k text field necessary?

Remove the text field.

¥ Explain the "Width in x-space" control.

Increasing x width causes k width to decrease.

¥ What is the range & precision of the x-space width slider?

delta x is in millimeters.
Range is 1/5pi...1
Slider has labels at .06, .2,  .4, .6, .8, 1
Values will be displayed with 2 digits of precision after the decimal point.

¥ Is the delta x text field necessary?

Remove the text field.

¥ Explain the 4 measurement tools shown in the screen snapshots.  Are they always visible? moveable? constrained?

Always visible, moveable, constrained to the graph that they're shown in.

¥ On Slide 24, what does sigma stand for?  How will the user know this?  Where does it appear in the module?

sigma is the width of the gaussian packet, equivalent to delta x.
It doesn't appear to the user anywhere.

¥ Slide 24 says "Both wave packets are Gaussian..."  What do you mean by "both"?

The wave packet in k space (Ampltiudes graph) and the Fourier transform of that packet (in the Sum graph) in x space.

******************************************************

Amplitudes view
- x range is 0 to 24pi, and stays constant
- x axis is labeled at 2pi intervals, tick marks at pi/2 intervals
- y range is 0 to 1 (may adjust later), labeled at 0.2 intervals, tick marks at 0.1 intervals
- the y axis is labeled "An"
- the x axis is labeled "kn (rad/mm)" in space mode, "omegan (rad/ms)" in time mode
- each component is displayed as a vertical bar
- bars are colored with grayscale values (left to right, darkest to lightest)
- this view does NOT highlight a component when you roll the mouse over one of the bars
- this view has no zoom controls
- checking the "Continuous" box shows the continuous curve for the wave packet
- k1 is the spacing
- k1 affects the number of components; the width of the wave packet is unchanged
- k1 can be set to one of the following values: 0, pi/4, pi/2, pi, 2pi (rad/mm or rad/ms)
- when k1=0, the bars fill the area under the continuous curve
- k0 = 12pi
- number of components = ( 2 * k0 / k1 ) - 1
- kn=n*k1
- A(k,k0,deltak) = exp[ -(k-k0)^2 / (2 * (deltak^2) )  ] / (deltak * sqrt( 2pi ))
- F(x,dx) = exp( -(x^2) / (2 * (dx^2) ) )
- for each value of k, bar displayed = k1 * A(k,k0,deltak)


Q: is k0 half the packet width or the center point (they are different things)
Q: do you want to be able to shift k0 ?
Q: should amplitudes graph vertically autoscale ?
Q: many bars are so small that you can't see them, and they are using grayscale values
Q: n=(2*k0/k1)-1 doesn't really work when we start moving k0 around, does it? 
