<div>


    <div>

        <div class="alignleft">
            <p class="controlLabel2">Friction</p>
        </div>

        <div class="alignright2">
            <select name="<%= id %>frictionSwitch" id="<%= id %>frictionSwitch" data-role="slider">
                <option value="off">Off</option>
                <option value="on">On</option>
            </select>
        </div>

        <div style="clear: both;"></div>
    </div>
</div>

<div>
    <input type="range" name="<%= id %>frictionSlider" id="<%= id %>frictionSlider" value="60" min="0" max="100" data-highlight="true"/>

    <div>
        <p class="alignleft">None</p>

        <p class="alignright">Lots</p>

        <div style="clear: both;"></div>
    </div>
</div>
<div>
    <div>
        <div class="alignleft">
            <p class="controlLabel2">Stick to Track</p>
        </div>

        <div class="alignright2">
            <select name="<%= id %>stickToTrackSwitch" id="<%= id %>stickToTrackSwitch" data-role="slider">
                <option value="off">Off</option>
                <option value="on">On</option>
            </select>
        </div>

        <div style="clear: both;"></div>
    </div>
</div>