<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/wickettest?autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=UTF-8</property>
        <property name="connection.username">phet</property>
        <property name="connection.password">phetti0</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- TODO: add actual production connection pool -->

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>

        <property name="hibernate.show_sql">true</property>


        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>

        <mapping resource="edu/colorado/phet/wickettest/test/Honey.hbm.xml"/>
        
        <mapping resource="edu/colorado/phet/wickettest/test/BasicProject.hbm.xml"/>
        <mapping resource="edu/colorado/phet/wickettest/test/BasicSimulation.hbm.xml"/>
        <mapping resource="edu/colorado/phet/wickettest/test/BasicLocalizedSimulation.hbm.xml"/>

    </session-factory>

</hibernate-configuration>