.simulation-index h2 {
    font-size: 14px;
    margin-top: 0.75em;
    margin-bottom: 0.15em;
    background-color: #eeeeee;
    border-top: 1px solid gray;
    padding: 2px;
}

.simulation-index a {
    padding-left: 20px;
    padding-right: 20px;
}