/*
 * Combined style sheet for the index pages and the slide pages.
 */

/* Style for all bodies. */
body {
	font-family: "Courier New", Courier, monospace;
	font-size: 16px;
	background-color: black;
	color: white;
	margin: 10;
	font : bold;
}

/* Style for all table cells. */
td {
	font-family: "Courier New", Courier, monospace;
	font : bold;
}

/* Put a border on all generated images */
.image {
	border-width: 0;
	margin: 5;
}

/* Align the content of the cells on the index pages to the center and bottom. */
#index td {
	text-align: center;
	vertical-align: bottom;
}

/* Remove the margin under the images on the index pages. */
#index .image {
	margin-left: 2;
	margin-right: 2;
	margin-bottom: 0;
}

/* Don't have margins on the slide pages. */
body#slide {
	margin: 0;
}

/* Highlight the image name on the slide pages. */
#slide .name {
	font-weight: bold;
	font-size: 14px;
}

/* Header */
h1 {
	font-size: 30px;
	font-weight: bold;
}

.number,.date {
	font-family : "Courier New", Courier, monospace;
	font-size : 24px;
	font-weight : bold;
}

.filename {
	font-family : "Courier New", Courier, monospace;
	font-size : 24px;
	font-weight : bold;
}

/* Custom link styles */
a:active {
	text-decoration: none;
	color: #FFAAAA;
}

a:visited {
	text-decoration: none;
	color: #AAAAAA;
}

a:hover {
	text-decoration: underline;
	color: #FFFFFF
}

a:link {
	text-decoration: none;
	color: #CCCCCC
}

#imageinfo {
	visibility: hidden;
}

.imageinfo {
	font-size : small;
}

