.vert-text { 
    vertical-align: bottom;
}

.entry_valid_data {
    background-color: #33FF00;
}

.entry_invalid_data {
    background-color: #FF3300;
}

.entry_valid_blank {
    background-color: #33CC00;
}

.entry_invalid_blank {
    background-color: #CC3300;
}

.entry_not_checked {
    background-color: gray;
    color: red;
}

.entryERROR {
    background-color: black;
    color: white;
}

tr.row_valid_data td {
    border: 1px solid green;
}

tr.row_invalid_data td {
    border: 3px solid red;
}