body {
	background-color:#fff;
	font-family:"arial",Verdana,Arial,Helvetica,sans-serif;
	font-size:12px;
	margin:0;
	padding: 0;
}
/******** defaults ********/
h1,h2,h3,h4,h5,h6 {
	font-size:		14px;
	margin:			0;
	padding:		0;
	margin-top: 	1ex;
	margin-bottom: 	1ex;
}
h1 {
	color:			#c60;
	font-size:		18px;	
	position: 		relative;
	left:			-20px;
}
h2 {
	color:		#15337f;
	font-size:	16px;
	position: 	relative;
	left:		-10px;
}
p {
	line-height:19px;
	color:#000;
}
.clear {
	clear:both;
}
a img {
	border:none;
}
table thead tr td {
	font-weight: bold;
}
td {
	padding: 0.5ex;
}
hr {
	border-collapse:	collapse;
	border:  			0;
	background-color:	#ccc;
}
.inlineImage {
	border:solid 2px #5476d2;
	float:left;
	margin:5px 12px 0 0;
	padding: 0;
}
#simratinglegend table {
	border-collapse: collapse;
}
/*#simratinglegend table tbody tr td:first-child {
	background-color: white;
}*/

#quicksearch {
	float:		right;
	font-size:  10px;
	color: 		gray;
}
#quicksearch fieldset {
	margin:       0;
	padding:      0;
	padding-top:   1ex;
	padding-right: 1ex;
	border-style: none;
}

.simcategory {
	padding-left: 2em;
	padding-right: 2em;
}

#nationalstandards table {
	border-style:   none;
	border: 		0;
	margin:  		1em;
	padding: 		0;
	border-collapse:collapse;
	position: 		relative; 
	margin-left: 	auto; 
	margin-right: 	auto;
}
#nationalstandards table thead td, 
#nationalstandards table tbody td {
	border-style:   	none;
	background-color:   transparent;
	text-align:			center;
	vertical-align:		top;
}
#nationalstandards table thead {
	font-weight: bold;
}
#nationalstandards table thead tr td + td,  
#nationalstandards table thead tr td + td + td, 
#nationalstandards table thead tr td + td + td + td, 
#nationalstandards table thead tr td + td + td + td + td,
#nationalstandards table thead tr td + td + td + td + td + td {
	font-weight: 	bold;
	border-bottom: 	solid 1px #ccc;	
}
#nationalstandards table tbody tr td:first-child, 
#nationalstandards table thead tr td:first-child {
	font-weight: 	bold;
	text-align: 	right;
	border-right: 	solid 1px #ccc;	
}
#nationalstandards table thead tr:first-child td:first-child {
	border-right: 	none;	
}


.validation-success {
	font-size:  9pt;
	color: 		gray;
}
.validation-failure {
	font-size:  9pt;
	color: 		red;
}
/******** =skipNav ********/
#skipNav {
	position:absolute;
	left:-9999px;
	width:9000px;
	font-size:1px;
	letter-spacing: -1px;
}
/******** =container ********/
#container {
	margin:0 auto;
	padding:0;
	width: 765px;
}
/******** =header ********/
#header {
	background:url(../images/header_BG.gif) left bottom repeat-x;
	background-color:#2345a1;
	margin:0 auto;
	padding:0;
}
#header a {
	color:#fff;
	text-decoration:none;
}
#headerContainer {
	color:#fff;
	height:127px;
	margin:0 auto;
	width:765px;
}
#headerContainer div.images {
	position:relative;
	top: 0;
}
#headerContainer span.logo {
 position:absolute;
 top:0;
 left:0;
}
#headerContainer span.title {
 position:absolute;
 top:0;
 right:0;
}
/******** Login form *********/
#loginform {
    width:400px;
    margin:auto;
    padding:0px 0px 25px 0px;
}
#loginform fieldset {
    padding:10px;
}
#loginform legend {
    font-weight:bold;
    font-size:9pt;
}
#loginform label {
    display:block;
    height:2em;
    padding:10px 10px 0;
}
#loginform input {
    margin-right:20px;
    border:1px solid #999999;
    float:right;
    clear:right;
    background:#CCCCCC;
}
#loginform input:focus,#loginform input:hover {
	border:1px solid #333333;
}
#loginform .error{
    color:red;
    font-weight:bold;
}

div.form_content {
	position:		relative;
	padding: 		0;
	margin:  		1ex;
	margin-left:    1em;
	border-style: 	none;
}
.field {
	clear:   right;
	width:   100%;
	border:  0;
	margin:  0;
	padding: 0.5ex 0 0.5ex 0;
}
.field input, .field textarea {
	background: rgb(220, 220, 220);
}
.field .label {
	width: 			25%;
    font-weight:	bold;	
}
.field .label_content {
	float: right;
	width: 75%;
}
.field .label_content input, .field .label_content select, .field .label_content textarea {
	position: relative;
	top:      -1ex;
}
.button {
	clear: 			right;
	float: 			none;
	padding: 		0;
	position: 		relative;
	margin-left: 	1ex;
	margin-right: 	1ex;
	margin-top: 	1em;
	margin-bottom: 	1em;
}
.comments {
	margin-top: 10px;
}

#browsefilter {
	margin: 		auto;
    padding:		0px 0px 25px 0px;	
	border-style:	none;
}
#browsefilter table, #browsefilter thead, #browsefilter tbody {
	border-style: 	none;
}
#browsefilter td, #browsefilter tr {
	border-style: 	none;
	margin: 		0;
	padding: 		0;
}
#browsefilter table td select {
	margin: 		0;
	padding: 		0;
}
#browsefilter table td select.Simulations {
	width: 225px;
}
#browsefilter table td select.Types {
	width: 130px;
}
#browsefilter table td select.Levels {
	width: 180px;
}
#Simulations_uid, #Types_uid, #Levels_uid {
	width: 100%;
}
#browsefilter input {
	float: right;
}
.mainImage {
	padding-right: 2em;
}
div.separator {
	margin:   0;
	padding:  0;
	width:    100%;
	clear:    right;
	position: relative;
	height:   5px;
}

div.horizontal_center {
	padding:      0;
	margin-left:  auto;
	margin-right: auto;
}

/******** Contribution edit form *********/
#contributioneditform {
    width:		100%;
    margin:		auto;
    padding:	0px 0px 25px 0px;
}
#contributioneditform fieldset {
    padding:10px;
}
#contributioneditform legend {
    font-weight:bold;
    font-size: 14pt;
}
#twofacelogin {
	padding: 0;
	margin:  0;
	margin-bottom: 1em;
}
#twofacelogin table {
	width: 100%;
	margin:  0;
	padding: 0;
	margin-left:   auto;
    margin-right:  auto;
}
#twofacelogin table td {
	margin:  0;
	padding: 0;
}
#twofacelogin table td .label {
	font-weight: bold;	
}
#twofacelogin table input .button {
	float: none;
	padding: 0;
	margin:  0;
	margin-top: 1em;
}
#twofacelogin fieldset {
	border-color: rgb(220, 220, 220);
	border-width:  1px;
}
#twofacelogin fieldset legend {
    font-weight:bold;
    font-size: 10pt;
}
/*
#contributioneditform label, p {
    display:		block;
	clear:			right;
    padding-top:    0px;
	padding-bottom: 0px;
}
#contributioneditform input, #contributioneditform textarea {
    border:			1px solid #999999;
    background:		#CCCCCC;
}*/
#contributioneditform .multiselector {
	width:          500px;
    float:			right;
	margin-top:     1em;
}
#contributioneditform .selector, #contributioneditform .inputcontainer {
	width:          400px;
    float:			right;
}
#contributioneditform hr {
	height: 1px;
    background:#E6E6FA;
	clear: right;
    margin: 15px 150px 15px 150px;    
}
#contributioneditform .error {
    color:red;
    font-weight:bold;
}
#contributioneditform .required {
    color:     #B22222;
    font-weight:bold;
}
#contributioneditform .required:hover {
    color:      red;
    font-weight:bold;
}

/******** User-profile form *********/
#userprofileform {
	margin:  	auto;
	padding: 	0px 0px 25px 0px;
}
#userprofileform fieldset {
	padding: 	10px;
}
#userprofileform legend {
    font-weight:bold;
    font-size:  9pt;
}
/*#userprofileform label {
    display:	block;
    height:		2em;
    padding:	10px 10px 0;
}
#userprofileform input {
    margin-right:20px;
    border:		1px solid #999999;
    float:		right;
    clear:		right;
    background: #CCCCCC;
}
#userprofileform input:focus, #userprofileform input:hover {
	border:1px solid #333333;
}*/
#userprofileform .error{
    color:			red;
    font-weight:	bold;
}

/* -------- modified sliding doors on globalNav -------- */
#headerContainer div.globalNav {
	background:url(../images/globalNavLeft_BG.gif) left bottom no-repeat;
	float:right;
	margin:0 0 10px 0;
	padding:0 0 0 18px;
}
/*#headerContainer div.globalNav ul {
	background:url(../images/globalNavRight_BG.gif) right bottom no-repeat;
	margin:		0;
	padding:	3px 18px 5px 0;
}
#headerContainer div.globalNav ul li {
	display:inline;
	margin:0;
	padding:0 8px;
}
#headerContainer div.globalNav ul li.last {
	background:url(../images/globalNavSeperator.gif) left top no-repeat;
	padding-left:12px;
}
#headerContainer div.globalNav ul li a:hover {
	text-decoration: underline;
}
*//******** =footer ********/
#footer p {
	color:		black;
	font-size:	14px;
	clear:      right;
	text-align:	center;
}
#footer p a, #footer p a {
	color:#900;
}
#footer p a:hover {
	color: #666;
}
/******** =content ********/
#content {
	background:		url(../images/content_BG.gif) right bottom no-repeat;
	margin-left:	178px;
	padding:		20px 18px 39px 30px;
}
#content a {
	color:#900;
	text-decoration:none;
	font-weight:bold;
}
#content a:hover {
	color:#666;
	text-decoration:underline;
	font-weight:bold;
}
/*-------- color of openingParagraph changes based on page --------*/
/******** =openingParagraph ********/
p.openingParagraph {
	color:#458407;
	font-size:1.2em;
	font-weight:bold;
	line-height:1.3em;
	margin:0;
	padding: 0 0 16px 0;
}

/* PRODUCT LISTING CONTENT */
.productListContent {
	width:	578px;
	float:	right;
	margin:	31px 0 0 0;
}
.productListContent #filterBreadcrumb {
	padding:13px 0 0 0;
	margin-bottom:-16px;
	font-size:.81em;
	color:#4B5857;
}
.productListContent #filterBreadcrumb span {
	font-size:.71em;
}

/* Product Listings */
.productList {
	position:	relative;
	width: 		100%;
	float: 		left;
}
.productEntry {
	width:      130px;
	height: 	130px;
    /* overflow: 	hidden; */
	float: 		left;
	padding:	20px 20px 20px 20px;
	font-size:	9pt;
}
.productEntry p {
	width:			120px;
	padding-left:   	5%;
	padding-right:  5%;
	text-align: 	center;
	margin-top:		0;
	line-height:	1.1em;
}
.productList a {
	color:#363531;
}


/* Faux Selects */
.selectContainer {
	margin:0 0 18px 1px;
	height:22px;
	font-size:.91em;
}
ul.selectBox,.standardContent ul.selectBox {
	border:1px solid #d2ccc4;
	background:#f9f9f9 url(../../images/interface/filter-select.gif) right top no-repeat;
}
ul.selectBox li,.standardContent ul.selectBox li {
	display:none;
	background:none;
	padding:0;
	line-height:12px;
}
ul.selectBox li.defaultOption,.standardContent ul.selectBox li.defaultOption {
	display:block;
	background:none;
	padding:0;
	line-height:12px;
}
ul.selectBox li a:link,ul.selectBox li a:visited,.standardContent ul.selectBox li a:link,ul.selectBox li a:visited {
	display:block;
	padding:3px 2px 3px 3px;	
	color:#363531;
	font-size:.9em;
	float:left;
}
ul.selectBox li a:hover,.standardContent ul.selectBox li a:hover {
	background:#DBEBF5;
	text-decoration:none;
}
ul.selectBox li.defaultOption a,.standardContent ul.selectBox li.defaultOption a {
	padding:4px 2px 4px 3px;
}
ul.selectBox li.defaultOption a:hover,.standardContent ul.selectBox li.defaultOption a:hover {
	background:transparent;
}

/* END PRODUCT LISTING CONTENT */
li.sub {
	margin:0px 0px 0px 8px;
}
span.sub-nav {
	font-size:11px;
}
span.highlight {
	background:#ff6;
	padding:3px;
}
img.sponsors {
	float:left;
	margin:0px 3px 0px 0px;
}
dl a:hover {
	color:#c60;
}
div.container {
	display:  block;
	overflow: hidden;
	width:    100%;
	margin:	  0px -20px 0px -20px;	
}
span.logo-title {
	margin:0px 0px 0px 250px;
}
span.sub {
	margin-left:14px;
}
div.simpreview {
	float:	left;
	border:	none;
	width:  300px;
	margin:	0 1em 0 1em;
}
div.simpreview table {
	width:				200px;
	background-color: 	transparent;
	padding:			0;
	margin: 		  	0;
	border-collapse:    collapse;
}
div.simsummary table tr td {
	margin:  0;
	padding: 0;
	width:   66px;
}
div.simsummary table tr td:first-child img {
	text-align: left;
}
div.simsummary table tr td + td img {
	text-align: center;
}
div.simsummary table tr td + td + td img {
	text-align: right;
}
img.rating {
	margin: 0;
}
div.simsummary {
	margin:  0;
	padding: 0;
	float: 	 right;
	width: 	 200px;
}
#content a.breadcrumbs {
	margin:0px 20px 0px 0px;
	padding:0px 0px 0px 15px;
	background:url(../images/arrow-blue.png) no-repeat 0px 1px;
	font-size:10px;
	text-transform:uppercase;
	text-decoration:none;
}
#content a.breadcrumbs:hover {
	margin:0px 20px 0px 0px;
	padding:0px 0px 0px 15px;
	background:url(../images/arrow-blue.png) no-repeat 0px 1px;
	font-size:10px;
	text-transform:uppercase;
	color:#2345a1;
	text-decoration:none;
	border-bottom: 1px dashed #2345a1;
}
/* -------- mainNav -------- */
#headerContainer div.mainNav {
	background:url(../images/mainNavLeftTest_BG.gif) left top no-repeat;
	background-color:#32386f;
	float:right;
	font-size:13px;
	font-weight:bold;
	position:absolute;
	top:89px;
	margin-left:420px;
	padding:0;
}
#headerContainer div.mainNav ul {
	background:url(../images/mainNavRightTest_BG.gif) right top no-repeat;
	margin:0;
	padding:6px 0;
}
#headerContainer div.mainNav ul li {
	display:inline;
	margin:0;
	padding:10px;
}
#headerContainer div.mainNav ul li a {
	padding:0 0 18px 0;
}
#headerContainer div.mainNav ul li a:hover {
	background:url(../images/mainNavArrow.gif) center bottom no-repeat;
	color:#ffa025;
}
#headerContainer div.mainNav ul li.selected a {
	background:url(../images/mainNavArrow.gif) center bottom no-repeat;
	color: #ffa025;
}


span.size {
	font-family:"Courier New","Times","Arial";
	color:#000;
	font-size:15px;
}
ul.content-points li {
	background:url(../images/icon-bullet.png) no-repeat 0px 2px;
	list-style-type:none;
	padding:0px 0px 0px 15px;
	line-height:18px;
}
ul.content-points li span.red {
	color:#900;
}
span.red {
	color:#900;
}
ul.content-points li a:hover {
	color:#900;
}
#get_phet {
	width:		520px;
	margin:		0px 0px 10px 0px;
	padding:	0px 0px 0px 0px;
	background:	none;
}
#get_phet caption {
	padding:0 0 5px 0;
	font:italic 11px "arial",Verdana,Arial,Helvetica,sans-serif;
	text-align:left;
}
#get_phet table {
	border-collapse: collapse;
}
#get_phet th.nobg {
	border-top:0;
	border-left:0;
	border-right:1px solid #C1DAD7;
	background:none;
}
#get_phet table tr td p {
	margin:   		0;
	padding-left:   1ex;
	padding-right:  1ex;
	padding-top:    0.75ex;
	padding-bottom: 0.75ex;
}
#get_phet table tr th:first-child {
	width: 12em;
}
#get_phet td.alt {
	background:#F5FAFA;
}
#get_phet td.alt p {
	color:#797268;
}
#get_phet th.spec {
	border-left:1px solid #C1DAD7;
	border-top:0;
	background:#fff url(../images/bullet1.gif) no-repeat;
}
#get_phet th.spec p {
	font:bold 10pt "arial",Verdana,Arial,Helvetica,sans-serif;
}
#get_phet th.spec-none {
	border-left:1px solid #C1DAD7;
	border-top:0;
	background:#133078;
}
#get_phet th.spec-none p {
	font:bold 10pt "arial",Verdana,Arial,Helvetica,sans-serif;
	color:#fff;
}
#get_phet th.specalt {
	border-left:1px solid #C1DAD7;
	border-top:0;
	background:#f5fafa url(../images/bullet2.gif) no-repeat;
}
#get_phet th.specalt p {
	font:bold 10pt "arial",Verdana,Arial,Helvetica,sans-serif;
	color:#797268;
}
#get_phet th.specalt-none {
	border-left:1px solid #C1DAD7;
	border-top:0;
	background:#133078;
	vertical-align: top;
}
#get_phet th.specalt-none p {
	font:bold 10pt "arial",Verdana,Arial,Helvetica,sans-serif;
	color:#fff;
}

div.simrunoptions table {
	width:  300px;
	clear: 	left;
	border-collapse: collapse;
}
div.simrunoptions table tr td {
	width: 150px;
	margin: 0;
	padding: 0;
}
div.simrunoptions table tr td:first-child {
	text-align: left;
}
div.simrunoptions table tr td + td {
	text-align: right;
}


#hb {
	width:300px;
}
#indi-sim {
	background:none;
	width:120px;
	margin:-10px 0px 0px 0px;
	padding:0;
	border:none;
}
#simcontribbrowser {

}
th.spec-sim {
	border:none;
	background:#fff;
	font:9px "arial",Verdana,Arial,Helvetica,sans-serif;
}
h2.sub {
	margin:14px 0 10px 0px;
	padding:0 0 4px 0;
	font-size:90%;
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:1px;
	color:#000;
	border-bottom:1px solid #333;
}
h2.sub-alone a {
	margin:14px 0 10px 0px;
	padding:0 0 4px 0;
	font-size:90%;
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:1px;
	color:#333;
	background:url(../images/bul-arr-org.png) no-repeat 0px 4px;
	font:12px "arial",Verdana,Arial,Helvetica,sans-serif;
	padding:0px 20px 0px 10px;
}
h2.sub-title {
	font-size:100%;
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:1px;
	color:#000;
	font-family:"arial",Verdana,Arial,Helvetica,sans-serif;
	padding:7px 20px 0px 0px;
}
a.main-topic {
	background:url(../images/bul-arr-org.png) no-repeat 0px 5px;
	font:12px "arial",Verdana,Arial,Helvetica,sans-serif;
	padding:0px 20px 0px 10px;
}
p.indi-sim {
	font-family:"arial",Verdana,Arial,Helvetica,sans-serif;
	font-size:12px;
	padding:0;
	margin:0;
}
#content div.shortcuts {
	width:			578px;
	display:		block;
	float: 			none;
	font-family:	"arial",Verdana,Arial,Helvetica,sans-serif;
	font-size:		10pt;
	padding:		0;
	margin: 		1ex 0 1.5em 0;
	text-align: 	left;
	text-transform: lowercase;
	font-variant: 	small-caps;
	position:       relative;
	left:			-20px;
}
#content div.shortcuts span.burg {
	background-image: 		url(../images/double-arrow.png);
	clear:  				right;
	width:  				100%;
	margin: 				10px 0px 0 5px;
	background-repeat: 		no-repeat;
	background-position: 	0 0.5ex;
	padding-left: 			15px;
}

#browseresults img {
	position: relative;
	padding-right: 4px;
}
h1.home-page {
	position: relative;
	left:     0;
}
h1.page-title {
	width: 			578px;
}
h1.indi-sim {
	width:			578px;
	font-weight:	bold;
	text-transform:	uppercase;
	font-variant: 	small-caps;
	letter-spacing:	1px;
	color:			#000;
	font-family:	"arial",Verdana,Arial,Helvetica,sans-serif;
	font-size:		15px;
	color:			#c60;
	padding-top: 	5px;
	border-top:		1px solid #c60;
}
#localNav a.current {
	color:#d36a04;
	font-weight:bold;
}
.cellTwo {
	font-size:10px;
	line-height:14px;
	text-transform:none;
	width:500px;
	padding:0px 0px 0px 10px;
}
.imageOne {
	margin: 0px 0 5px 15px;
}
/* list of people -- e.g. contacts page */
#people ul {
	margin-top:10px;
	font-size: larger;
	padding:0;
}
#people ul li {
	position:relative;
	border-bottom:1px solid #E3E3E3;
	clear: right;
}
ul.people li.hewlett {
	position:relative;
	border-bottom:1px solid #E3E3E3;
	background:none;
	padding:10px 0px 30px 0px;
}
ul.people li.nsf {
	position:relative;
	border-bottom:1px solid #E3E3E3;
	background:none;
	padding:10px 0px 30px 0px;
}
ul.people li.kavli {
	position:relative;
	border-bottom:1px solid #E3E3E3;
	background:none;
	padding:10px 0px 30px 0px;
}
#listing_type {
	margin: 0px 0px 20px 0px;
	float: left;
}
#listing_type a.listing_type {
	color:#900;
	padding:0px 3px 0px 2px;
}
#listing_type a:hover.listing_type {
	color:#666;
	padding:0px 3px 0px 2px;
	text-decoration:underline;
}
#pg {
	margin:0px 0px 20px 0px;
	float: right;
}
#pg a.pg {
	color:#900;
	padding:0px 3px 0px 2px;
}
#pg a:hover.pg {
	color:#666;
	padding:0px 3px 0px 2px;
	text-decoration:underline;
}
img.sponsors {
	float:			right;	
	margin-bottom:  1em;
}
img.bordered_sponsors {
	border-style:   solid;
	border-color:   gray;
	border-width:   1px;
	float:			right;	
	margin-bottom:  1em;
}
.faq {
	width: 500px;
}
#faq ul li {
	margin-bottom: 1.5ex;
}
#faq ul li a {
	font-size: 10pt;
}
.ac_results {
	padding: 0px;
	border: 1px solid WindowFrame;
	background-color: Window;
	overflow: hidden;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results iframe {
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	/*filter:mask(); */ /* IE5?? */
	width:3000px;
	height:3000px;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: pointer;
	display: block;
	width: 100%;
	font: menu;
	font-size: 12px;
	overflow: hidden;
}

.ac_loading {
}

.ac_over {
	background-color: black;
	color: 			  white;
}

#quicksubmit hr {
	height: 	1px;
    background:	#E6E6FA;
	clear: 		right;
    margin: 	15px 150px 15px 150px;    
}
#quicksubmit .field div.button {
	width:        578px;
	float: 		  right;
	margin-top:   1em;
}
#quicksubmit .field {
	margin-bottom: 1em;
}
#quicksubmit div.field .label_content {
	width: 450px;
}
#quicksubmit div.button input {
	margin:       0;
	padding:      0;
	position:     relative;
	left:         70%;
}

#content #keywords .keywordlist {
	padding:        0;
	margin: 		0;	
}
#content #keywords a {
	position: 			relative;
	margin-left:  		0px;
	margin-right: 		10px;
	font-style: 		normal;
	font-weight: 		normal;	
	text-align:   		right;
}

#content #floatingkeywords .keywordlist {
	width:          	300px;
	margin: 			0;
	padding: 			0;
	margin-top: 		5px;		
	float:          	right;
}
#content #floatingkeywords .keywordlist a {
	position: 			relative;
	margin-left:  		0px;
	margin-right: 		10px;
	color: 				rgb(120, 120, 120);	
	font-size:  		9pt;
	font-style: 		normal;
	font-weight: 		normal;	
	text-align:   		right;
	text-decoration: 	none;
}
#content #floatingkeywords .keywordlist a:link {
	font-style: 		normal;
	color: 				rgb(120, 120, 120);
}
#content #floatingkeywords .keywordlist a:visited {
	font-style: 		normal;
	color: 				rgb(120, 120, 120);
}
#content #floatingkeywords .keywordlist a:hover {
	font-style: 		normal;	
	color: 				rgb(25, 25, 25);
	text-decoration: 	underline;	
}
#content #floatingkeywords .keywordlist a:active {
	color: 				black;
	text-decoration: 	underline;	
}

#content .compact table {
	background-color: 	transparent;
	padding:			0;
	margin: 		  	5px 10px 20px 10px;
	border-collapse:    collapse;
}
#content .compact table td {
	background-color: 	transparent;
	padding: 		  	0.25ex 0 0.25ex 2ex;
	margin:				0 0 0 0;

	border-style:		none;
	vertical-align: 	top;
}
#content .compact tbody td input {
	margin-top:    2ex;
}
#content .compact table thead td {
	font-weight: 	bold;
	border-bottom:  1px solid rgb(220, 220, 220);
}
#content .compact table tbody td ul {
	padding: 0;
	margin:  0.5ex 0.5ex 0.5ex 1.5em;
}

#ajax_email_comment_uid {
	position: relative;
	top:      -1ex;
}
#ajax_password_comment_uid {
	position: relative;
	top:      -1ex;
}

div.research .title {
	
}
div.research .authors {
	
}
div.research .publication_name {
	font-style: italic;
}
div.research .publication_date {
	
}
div.research .publication_lookup {
	
}
div.research .publication_mainlink {
	
}
div.research .publication_pdflink {
	
}
div.research .publication_htmllink {
	
}



/******** =localNav ********/

/* The navigation bar */
#localNav {
	background:	none;
	color:		#727272;
	float:		left;
	margin:		0;
	padding:	25px 0 0 0;
	width: 		178px;
}

/* Default settings for all lists in the navigation bar */
#localNav ul {
	background:		none;
	font-size:		11pt;
	font-weight:	bold;
	margin:			0 0 0px 0;
	padding:		0 0 1ex 0;
}
#localNav ul li {
	list-style:	none;
	margin:		0;
	padding: 	0.5ex 0 0.5x 0;
}
#localNav ul li a {
	border-bottom:		none;
	color:				#727272;
	display:			block;
	text-decoration:	none;
}
#localNav ul li a:hover {
	color:#d36a04;
}

/* Settings for top-level selected categories in the navigation bar */
#localNav > ul > li.selected {
	margin:	0px 0px 0px -15px;
	background:	url(../images/selectedArrow_Icon.gif) left 0.5ex no-repeat;
}
#localNav > ul > li.selected > a {
	position: 	relative;
	left: 		15px;
	color:		#d36a04;
}

/* Settings for second-level categories in the navigation bar */

/* The unordered list */
#localNav > ul li ul {
	background:		none;
	font-weight:	bold;
	margin:			0 0 0.5ex 20px;
	padding:		0;
}
/* The list items */
#localNav > ul li ul li {
	height: 		1em;
	font-size: 		smaller;
	margin:  		0;
	padding: 		0;
	margin-top:    	0.75ex;	
	clear:   		right;
}
#localNav > ul li ul li.selected {
	background-repeat:   no-repeat;
	background-position: left 0.5ex;
	background-image:	 url(../images/arrow-right.gif);
}
/* Links inside the list items */
#localNav > ul li ul li a {
	float: 	right;
	width: 	162px;
}
/* Link inside the current subcategory */
#localNav > ul li ul li.selected a {
	color: 		#d36a04;
}


/* -------- Related Links --------*/
#localNav dl {
	background:url(../images/relatedLinksBTTM_BG.gif) left bottom no-repeat;
	background-color:#d8eaf4;
	font-size:.9em;
	margin:0;
	padding:0 8px;
}
#localNav dt,#localNav dd {
	margin:0;
	padding:0 0 4px 18px;
}
#localNav dt {
	background:url(../images/circleArrow_Icon.gif) left 3px no-repeat;
}
#localNav dd {
	border-bottom:solid 1px #ccc;
	color:#313131;
	line-height:1.2em;
	margin-bottom:15px;
	padding-bottom:15px;
}
#localNav dd.first {
	border:none;
}
#localNav dt a,#localNav dd a {
	color:#294ca8;
	font-weight:bold;
	text-decoration:underline;
}
#localNav h4 {
	background:url(../images/relatedLinks_BG.gif) left bottom no-repeat;
	color:#0d2973;
	margin:0;
	padding:0 0 15px 0;
}