 
/* Basic code - don't modify */

.subset {padding: 1em 0; display: block;}
.nav, .subset ul { display: block; margin: 0; padding: 0; position: relative; }
.nav li, .subset li { display: block; list-style: none; margin: 0; padding: 0; float: left; position: relative; }
.subset li.add_menu { padding-left: 0.7em; display: block; }
.nav a, .subset a { display: block; }
.nav ul { display: none; position: absolute; left: 0; margin: 0; padding: 0; }
* html .nav ul { line-height: 0; } /* IE6 "fix" */
.nav ul a { zoom: 1; } /* IE6/7 fix */
.nav ul li { float: none; }
.nav ul ul { top: 0; }

/* Essentials - configure this */

.nav ul { width: 14em; font-weight: normal}
.nav ul ul { left: 14em;}

/* Everything else is theming */

.nav { background-color: none; height: 1.5em; font-size: 85%; font-weight: bold;}
.nav *:hover { background-color: none; }
.nav a, .subset a { padding: .5em .7em;}
.nav a {color: #300 !important;}
.nav li.hover a { background-color: #222; color: #fff !important;}
.nav ul { top: 2.1em; _top: 2.8em}
.nav ul li a { padding: .5em 1em; _padding: 1em; background-color: #222; }
.nav ul li.hover > a { background-color: #000; }
.nav ul li a { opacity: 0.9; _margin: -.5em 0 0 0; filter: alpha(opacity=90); }
.nav .selected a {font-weight: normal; color: #fff !important}
/* .nav ul a { border-bottom: none; } - I also needed this for IE6/7 */


