<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd" xml:lang="en"
      lang="en">
<head>
    <title wicket:id="page-title">[PREVIEW] PhetMenuPage</title>
    <wicket:remove>
        <link rel="stylesheet" type="text/css" href="../../../../../../../root/css/preview.css"/>
    </wicket:remove>
</head>
<body wicket:message="dir:language.dir">

<wicket:extend>
    <div class="menu-page-content" wicket:message="style:style.menu-page-content">
        <div id="side-panel">
            <div wicket:id="side-navigation">
                Side navigation
            </div>
            <div wicket:id="sponsors-panel">
                Sponsors panel
            </div>
        </div>
        <div id="main-content" name="main-content">
            <wicket:child/>
            <wicket:remove>
                Main content
            </wicket:remove>
        </div>
        <div class="main-footer">
            <div class="main-footer-spacer"></div>
            <div class="other-languages"><span wicket:id="translation-links">Translation links</span></div>
            <div class="copyright">&copy; 2009 University of Colorado. <a href="#" wicket:id="some-rights-link">
                <wicket:message key="footer.someRightsReserved">Some rights reserved.</wicket:message>
            </a></div>
        </div>
    </div>
</wicket:extend>

</body>
</html>

