--
Faraday simulation requirements, as of 12/14/2004 status meeting


Bar Magnet module:
- bar magnet as the magnetic field source
- bar magnet can be moved around
- treat bar magnet as a dipole
- flip bar magnet polarity
- show/hide field lines due to bar magnet
- do NOT show field lines due to induced EMF
- adjust strength of bar magnet, visually represent as change in bar size
- pickup coil with adjustable number of loops (1 or 2)
- pickup loops are all circular, all same radius
- area of loop can be adjusted
- pickup coil can be moved around (voltmeter/lightbulb follows)
- lightbulb can be hooked across pickup coil
- coil shows electron flow when lightbulb is hooked up
- voltmeter can be used as an alternative to lightbulb
- no electron flow shown when voltmeter is used
- movable compass can be dragged around
- no absolute values are shown for anything (voltage, area, field strength, etc.)


Transformer module:
- pickup coil, voltmeter, lightbulb and compass as in "Bar Magnet" module
- electromagnet as the magnet field source
- electromagent is NOT movable
- electromagnet has a variable number of loops (1-4)
- show/hide field lines due to electromagnet
- do NOT show field lines due to induced EMF
- electromagnet power source switchable between AC and DC
- DC source is a battery with adjustable voltage
- AC source is a power supply with adjustable frequency and current
- electromagnet coil shows electron flow
- no absolute values are shown for anything (voltage, area, field strength, etc.)


General development requirements:
- start with all control in the Control Panel, migrate to Apparatus Panel later

--