BODY P UL OL {
    text-align: justify;
    background: #FFFFFF;
    color: #000000;
    font-family: serif;
    font-size: 12pt
}

A:link {
    color: black;
    background: white;
    text-decoration: underline
}

A:visited {
    color: black;
    background: white;
    text-decoration: underline
}

A:active {
    color: black;
    background: white;
    text-decoration: underline
}

H1 {
    text-align: right;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: 24pt;
    color: white;
    background: #660099
}

H2 {
    color: blue;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18pt;
    background: white
}

H3 {
    color: blue;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 16pt;
    background: white
}

H4 {
    color: green;
    font-family: serif;
    font-weight: bold;
    font-size: 13pt;
    background: white
}

CODE {
    font-family: monospace;
    font-size: 10pt
}

TD.title {
    background: #660099;
    color: white
}

TD.menu {
    background: #FFFFCC;
    color: black
}

TD.bottom {
    background: #660099;
    color: white
}

DIV.menu {
    text-align: left;
    font-family: sans-serif;
    font-size: 12pt;
    line-height: 16pt
}

IMG.menu {
    text-align: left;
    font-family: sans-serif;
    font-size: 12pt;
    line-height: 16pt;
    background: #FFFFCC;
    color: black
}

A.menu:link {
    text-decoration: none;
    background: #FFFFCC;
    color: black
}

A.menu:visited {
    text-decoration: none;
    background: #FFFFCC;
    color: black
}

A.menu:active {
    text-decoration: none;
    background: #FFFFCC;
    color: black
}

A.menuCurrent:link {
    text-decoration: none;
    background: #FFFFCC;
    color: #660099
}

A.menuCurrent:visited {
    text-decoration: none;
    background: #FFFFCC;
    color: #660099
}

A.menuCurrent:active {
    text-decoration: none;
    background: #FFFFCC;
    color: #660099
}

A.tocChapter:link {
    text-decoration: none;
    background: #FFFFFF;
    color: #000000;
    font-family: sans-serif;
    font-size: 14pt
}

A.tocChapter:visited {
    text-decoration: none;
    background: #FFFFFF;
    color: #000000;
    font-family: sans-serif;
    font-size: 14pt
}

A.tocChapter:active {
    text-decoration: none;
    background: #FFFFFF;
    color: #000000;
    font-family: sans-serif;
    font-size: 14pt
}

A.tocSection:link {
    text-decoration: none;
    background: #FFFFFF;
    color: #000070;
    font-family: sans-serif;
    font-size: 12pt;
    margin-left: 5%
}

A.tocSection:visited {
    text-decoration: none;
    background: #FFFFFF;
    color: #000070;
    font-family: sans-serif;
    font-size: 12pt;
    margin-left: 5%
}

A.tocSection:active {
    text-decoration: none;
    background: #FFFFFF;
    color: #000070;
    font-family: sans-serif;
    font-size: 12pt;
    margin-left: 5%
}

A.tocSubsection:link {
    text-decoration: none;
    background: #FFFFFF;
    color: #000000;
    font-family: sans-serif;
    font-size: 11pt;
    margin-left: 10%
}

A.tocSubsection:visited {
    text-decoration: none;
    background: #FFFFFF;
    color: #000000;
    font-family: sans-serif;
    font-size: 11pt;
    margin-left: 10%
}

A.tocSubsection:active {
    text-decoration: none;
    background: #FFFFFF;
    color: #000000;
    font-family: sans-serif;
    font-size: 11pt;
    margin-left: 10%
}

TD.description {
    background: #FFFFFF;
    color: black
}

P.description {
    text-align: justify;
    background: #FFFFFF;
    color: #000000;
    font-family: serif;
    font-size: 11pt
}

DIV.description {
    text-align: justify;
    background: #FFFFFF;
    color: #000000;
    font-family: serif;
    font-size: 11pt
}

P.example {
    text-align: left;
    background: #FFFFFF;
    color: #00007F;
    font-family: monospace;
    font-size: 10pt;
    margin-left: 10%
}

UL.list {
    text-align: left;
    background: #FFFFFF;
    color: #000000;
    font-family: sans-serif;
    font-size: 10pt
}

A:link.list {
    text-align: left;
    background: #FFFFFF;
    color: #0000FF;
    font-family: sans-serif;
    font-size: 10pt;
    margin-left: 0pt
}

A:visited.list {
    text-align: left;
    background: #FFFFFF;
    color: #0000FF;
    font-family: sans-serif;
    font-size: 10pt;
    text-decoration: none
}

A:active.list {
    text-align: left;
    background: #FFFFFF;
    color: #0000FF;
    font-family: sans-serif;
    font-size: 10pt;
    text-decoration: none
}

DIV.bottom {
    text-align: left;
    font-family: sans-serif;
    font-size: 12pt;
    line-height: 16pt;
    background: #660099;
    color: white
}

A.bottom:link {
    text-decoration: underline;
    background: #660099;
    color: white
}

A.bottom:visited {
    text-decoration: underline;
    background: #660099;
    color: white
}

A.bottom:active {
    text-decoration: underline;
    background: #660099;
    color: white
}

TD.bottomPictures {
    background: #660099;
    color: white;
    text-align: right
}
