#------------------------------------------------------------------------------
# The redirects below were set up by John Blanco as requested by Kathy Perkins
# in order to enable the simplification of a set of links that were being
# publised in a paper.
#
# This is probably unmaintanable after several iterations, and a new solution
# should be devised (nobody has thought of one yet).  See Unfuddle Ticket #1084
# https://phet.unfuddle.com/projects/9404/tickets/by_number/1084
#------------------------------------------------------------------------------

#------------------------------------------------------------------------------
# Redirects requested mid December 2008
#------------------------------------------------------------------------------
Redirect permanent   /teacher_ideas/energy_skate_park_clicker_questions.html   \
                     http://phet.colorado.edu/teacher_ideas/view-contribution.php?contribution_id=567
Redirect permanent   /teacher_ideas/photoelectric_effect_interactive_lecture.html   \
                     http://phet.colorado.edu/teacher_ideas/view-contribution.php?contribution_id=109
Redirect permanent   /teacher_ideas/energy_skate_park_activities.html   \
                     http://phet.colorado.edu/teacher_ideas/view-contribution.php?contribution_id=594
Redirect permanent   /teacher_ideas/circuit_construction_kit_activities.html   \
                     http://phet.colorado.edu/teacher_ideas/view-contribution.php?contribution_id=598
Redirect permanent   /teacher_ideas/em_wave_tutorial.html   \
                     http://phet.colorado.edu/teacher_ideas/view-contribution.php?contribution_id=97
Redirect permanent   /teacher_ideas/masses_and_springs_activity.html   \
                     http://phet.colorado.edu/teacher_ideas/view-contribution.php?contribution_id=4
Redirect permanent   /teacher_ideas/curve_fit_activity.html   \
                     http://phet.colorado.edu/teacher_ideas/view-contribution.php?contribution_id=561
Redirect permanent   /teacher_ideas/maze_game_activity.html   \
                     http://phet.colorado.edu/teacher_ideas/view-contribution.php?contribution_id=595
Redirect permanent   /teacher_ideas/gas_properties_activity.html   \
                     http://phet.colorado.edu/teacher_ideas/view-contribution.php?contribution_id=575
Redirect permanent   /teacher_ideas/photoelectric_effect_activity.html   \
                     http://phet.colorado.edu/teacher_ideas/view-contribution.php?contribution_id=58
