.research-question {
    margin: 0 50px;
    font-weight: bold;
    font-size: 14px;
}
.research-answer {
    text-indent: 50px;
    margin: 0 50px;
}

.research p {
    margin-left: 50px;
    margin-right: 50px;
}

.publication-title {
    text-decoration: underline;
}