<!-- Copyright 2002-2012, University of Colorado -->
<!--
 -- Template for the Options control panel.
 -- This is specialized popup (also called an overlay) that will slide in when a button is pressed.
 -->
<div data-role="popup" id="optionsPanel" data-corners="false" data-theme="none" data-shadow="false" data-tolerance="0,0">

    <!-- Options panel header with close (back) button -->
    <div class="ui-bar ui-bar-b">
        <a id="optionsCloseButton" data-role="button" data-icon="delete" data-iconpos="notext" data-theme="b" data-rel="back" data-mini="true" class="alignleft">X</a>

        <!--To work with jQuery Mobile title bar, there must be a title. However, we need to do our own styling on it, so leave this one empty.-->
        <h1></h1>

        <!--Add our own title and center in the title bar-->
        <div id="optionsPanelTitle"><%= options %></div>
    </div>

    <br> <!-- vertical space -->

    <div class="optionsPanelContents">

        <!-- Magnet Strength slider -->
        <label for="strengthSlider" id="strengthSliderLabel"><%= magnetStrength %></label>
        <input id="strengthSlider" name="" type="range" value="0" min="0" max="300" data-highlight="true"/>

        <!-- Flip Polarity button -->
        <button id="flipPolarityButton" type="reset"><%= flipPolarity %></button>

        <!-- See Inside Magnet check box -->
        <input id="seeInsideCheckBox" name="" type="checkbox"/>
        <label for="seeInsideCheckBox" id="seeInsideCheckBoxLabel"><%= seeInsideMagnet %></label>

        <br> <!-- vertical space -->

        <fieldset data-role="controlgroup" data-type="vertical">

            <!-- Show Compass check box -->
            <input id="compassCheckBox" name="" type="checkbox"/>
            <label for="compassCheckBox" id="compassCheckBoxLabel"><%= showCompass %></label>

            <!-- Show Field check box -->
            <input id="fieldCheckBox" name="" type="checkbox"/>
            <label for="fieldCheckBox" id="fieldCheckBoxLabel"><%= showField %></label>

            <!-- Show Field Meter check box -->
            <input id="meterCheckBox" name="" type="checkbox"/>
            <label for="meterCheckBox" id="meterCheckBoxLabel"><%= showFieldMeter %></label>

        </fieldset>

        <br> <!-- vertical space -->

        <!-- Reset All button -->
        <button id="resetAllButton" data-theme="e" type="reset" data-icon="refresh"><%= resetAll %></button>

    </div>
</div>