td.number-of-translations {
    text-align: center;
}

.translated-sims table {
    position: relative;
    width: 505px;
    left: 10px;
}

div.rtl .translated-sims table {
    left: auto;
    right: 10px;
}

.translated-sims .t-header td {
    font-weight: bold;
}

.translated-sims td {
    padding: 2px;
}

.run-now-play {
    padding-left: 10px;
    background-image: url(../images/control-play.gif);
    background-position: left center;
    background-repeat: no-repeat;
}

.download-disk {
    padding-left: 14px;
    background-image: url(../images/diskette.gif);
    background-position: left center;
    background-repeat: no-repeat;
}