<div class="controlLabel">Friction</div>
<select name="<%= id %>frictionSwitch" id="<%= id %>frictionSwitch" data-role="slider">
    <option value="off">Off</option>
    <option value="on">On</option>
</select>
<input type="range" name="<%= id %>frictionSlider" id="<%= id %>frictionSlider" value="60" min="0" max="100" data-highlight="true"/>
<div class="controlLabel">Stick to Track</div>
<select name="<%= id %>frictionSwitch" id="<%= id %>stickSwitch" data-role="slider">
    <option value="off">Off</option>
    <option value="on">On</option>
</select>