.small-orange-table {
    margin: 0 auto;
    height: 24px;
    padding: 0;
}

.small-orange-table tr {
    margin: 0;
    padding: 0;
}

.small-orange-table td {
    padding: 0;
}

.small-orange-table .middle {
    text-align: center;
    vertical-align: middle;
    height: 24px;
    background-image: url(../images/small-button-middle.gif);
}

.small-orange-table .middle a {
    height: 24px;
    font-size: 10px;
    line-height: 19px;
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 2px;
    padding-right: 2px;
}

.small-orange-table .left {
    padding: 0;
    width: 5px;
    height: 24px;
    background-image: url(../images/small-button-left.gif);
}

.small-orange-table .right {
    padding: 0;
    width: 5px;
    height: 24px;
    background-image: url(../images/small-button-right.gif);
}