.simulation-list-item {
    text-align: center;
    padding: 10px 20px;
    margin-right: 10px;
    width: 130px;
    vertical-align: top;
    font-size: 9pt;
    font-weight: bold;
}

.simulation-list-thumbnail {
    padding-bottom: 5px;
}

.simulation-list-title {
    color: #990000;
    text-decoration: none;
}

.untranslated-sim .simulation-list-title {
    color: #888888;
}

.simulation-link {
    text-decoration: none;
}

a.simulation-link:hover .simulation-list-title {
    text-decoration: underline;
}

.simulation-link img {
    border: none;
    font-size: 2px;
}