
.contribute-standards-table {
    border-collapse: collapse;
    /*border: 1px solid gray;*/
}

.contribute-standards-table td {
    padding: 2px;
    /*border: 1px solid gray;*/
}

.contribute-standard-label {
    text-align: right;
    border-right: 1px solid gray;
}

div.rtl .contribute-standard-label {
    text-align: left;
    border-right: none;
    border-left: 1px solid gray;
}

.contribute-level-label {
    border: 1px solid gray;
}

.contribute-standard-checkmark {
    border: 1px solid gray;
    text-align: center;
}

.contribute-standard-checkbox {
    border: 1px solid gray;
    text-align: center;
}

.contribution-form-tip {
    font-size: 9px;
    color: gray;
}

.contribution-feedback span {
    color: red;
}

.contribution-edit-table td.contribution-edit-input {
    padding-bottom: 10px;
}

.contribution-quick-admin {
    font-weight: bold;
    width: auto;
    border: 1px solid red;
    margin: 2px;
    padding: 5px;
}

.contribution-approved {
    color: green;
}

.contribution-unapproved {
    color: red;
}

.contrib-guide-list li {
    padding-bottom: 10px;
}

.contrib-guide-header {
    font-weight: bold;
    font-size: 120%;
}

.nominate-submit-row {
    text-align: right;
}

div.rtl .nominate-submit-row {
    text-align: left;
}

.nominate-table {
    margin: 0 auto;
}

.contribution-comments-holder {
    margin-left: 0;
    padding-left: 0;
}

div.rtl .contribution-comments-holder {
    margin-right: 0;
    padding-right: 0;
}

.contribution-comments-holder li {
    list-style: none;
    display: block;
    padding: 1em;
}

.contribution-comment-text {
    display: block;
    text-align: left;
    padding-bottom: 5px;
}

div.rtl .contribution-comment-text {
    text-align: right;
}

.contribution-comment-author {
    display: block;
    float: right;
    font-weight: bold;
}

div.rtl .contribution-comment-author {
    float: left;
}

.contribution-comment-date {
    display: block;
    float: left;
    color: #888888;
}

div.rtl .contribution-comment-date {
    float: right;
}

.comment-clear {
    display: block;
    clear: right;
}

div.rtl .comment-clear {
    clear: left;
}

.add-comment-holder {
    /*margin: 0 50px;*/
    text-align: right;
}

.add-comment-text {
    
}

