/*
 * Main CSS file for Build an Atom.  This was derived from a file obtained
 * from the HTML5 Boilerplate project.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

.ui-page {
    background: rgb(255, 255, 153);
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#canvas-container {
  position: absolute;
  width: 60%;
  height: 100%;
  min-height: 100%; }

/* For debug - uncomment to show border of the canvas. */
/*#atom-construction-canvas {*/
  /*-webkit-box-shadow: inset 0px 0px 6px 0px #000;*/
          /*box-shadow: inset 0px 0px 6px 0px #000;*/
/*}*/

/* ------------------------------ Widget Control Panel ------------------------------ */

#control-panel {
    position: absolute;
    width: 40%;
    right: 0;
}

#control-panel .widget-box {
    float: left;
    clear: both;
    width: 91%;
    min-height: 1em;
    min-width: 485px;
    background: rgb(255, 255, 153);
    margin: 1%;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
}

/* ------------------------------ Periodic Table ------------------------------ */

#periodic-table table {
    border-collapse: separate;
    empty-cells: hide;
    border-spacing: 1px;
    width: 80%;
}

#periodic-table table td {
    border: 1px solid black;
    text-align: center;
}

#periodic-table table td.active {
  background: #fff;
  border-color: red;
  font-weight: bold;
  /* without display: block, active cells start getting cut off by the zoom, starting with Boron*/
  display: block;

  -webkit-transform: scale(1.5);
     -moz-transform: scale(1.5);
      -ms-transform: scale(1.5);
       -o-transform: scale(1.5);
          transform: scale(1.5);

  -webkit-animation: pulseBorderColor 1s infinite 500ms;
     -moz-animation: pulseBorderColor 1s infinite 500ms;
       -o-animation: pulseBorderColor 1s infinite 500ms;
          animation: pulseBorderColor 1s infinite 500ms;
}

@-webkit-keyframes pulseBorderColor {
  0%   { border-color: red; }
  100%  { border-color: black; }
}
@-moz-keyframes pulseBorderColor {
  0%   { border-color: red; }
  100%  { border-color: black; }
}
@-o-keyframes pulseBorderColor {
  0%   { border-color: red; }
  100%  { border-color: black; }
}
@keyframes pulseBorderColor {
  0%   { border-color: red; }
  100%  { border-color: black; }
  
}

/* ------------------------------ Detailed Element Symbol ------------------------------ */

#detailed-element-symbol {
    border: 2px solid black;
    background: white;
    width: 100px;
    height: 100px;
    position: relative;
    float: left;
    margin: 5px;
    font-size: 1.4em;
}

#detailed-element-symbol h1 {
  margin: 0;
  text-align: center;
  line-height: 100px;
  height: 100px;
  width: 100px;
  position: absolute;
  z-index: 1;
}

#detailed-element-symbol span {
  position: absolute;
  font-weight: bold;
  z-index: 5;
}

#detailed-element-symbol .atomic-weight {
  top: 5px;
  left: 5px;
}

#detailed-element-symbol .atomic-number {
  bottom: 5px;
  left: 5px;
  color: red;
}

#detailed-element-symbol .charge {
  top: 5px;
  right: 5px;
}

/* ------------------------------ Mass Number ------------------------------ */

#mass-number-container {
  position: relative;
  width: 102px;
  height: 110px;
  background: url(../images/atom_builder_scale.png) no-repeat bottom left;
}

#mass-number-container .mass-number {
  width: 60px;
  height: 22px;
  position: absolute;
  bottom: 4px;
  left: 21px;
  background: #fff;
  font-weight: bold;
  text-align: center;
}

#mass-number-container .orbital-view {
  width: 62px;
  height: 62px;
  background: url(../images/small_electron_rings.png) no-repeat;
  position: absolute;
  top: 0px;
  left: 20px;
}

/* ------------------------------ Net Charge Widget ------------------------------ */

#net-charge-container {
  width: 94px;
  height: 88px;
  background: url(../images/atom_builder_charge_meter_no_window.png) no-repeat;
  position: relative;
}

#net-charge-container .net-charge {
  width: 60px;
  height: 22px;
  position: absolute;
  bottom: 8px;
  left: 17px;
  background: #fff;
  font-weight: bold;
  text-align: center;
}

/* ------------------------------ Media Queries ------------------------------ */

@media only screen and (max-width: 990px) {

  #canvas-container {
    width: 100%;
    position: static;
  }

  #control-panel {
    width: 100%;
    position: static;
  }

  #control-panel .widget-box {
    width: 97%;
  }

}



/* ==========================================================================
Helper classes
========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144 dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
