acronym,abbr,span.caps {
	cursor:help;
}

acronym,abbr {
	border-bottom:1px dashed #999;
}

img.wp-smiley {
	vertical-align:-25%;
}

#wp-calendar {
	empty-cells:show;
	width:155px;
	margin:10px auto 0;
}

#wp-calendar #next a {
	padding-right:10px;
	text-align:right;
}

#wp-calendar #prev a {
	padding-left:10px;
	text-align:left;
}

#wp-calendar a {
	display:block;
	text-decoration:none;
}

#wp-calendar caption {
	width:100%;
	font:bold 1.3em 'Lucida Grande', Verdana, Arial, Sans-Serif;
	text-align:center;
}

#wp-calendar td {
	text-align:center;
	padding:3px 0;
}

#wp-calendar td.pad:hover {
	background-color:#fff;
}

#wp-calendar #prev a,#wp-calendar #next a {
	font-size:9pt;
}

#wp-calendar th {
	font-style:normal;
	text-transform:capitalize;
}

p img {
	max-width:100%;
	padding:0;
}


.navigation {
	display:block;
	text-align:center;
	margin-top:10px;
	margin-bottom:60px;
}

.navigation .alignleft {
	float:left;
	width:50%;
	text-align:left;
}

.navigation .alignright {
	float:right;
	width:50%;
	text-align:right;
}