.alignRightPlease {
    float: right;
}

body {
    margin: 0;
    padding: 0;
}

#theMainBody {
    width: 100%;
    height: 100%;
}

.controlPanel {
    margin: 5px;
    padding: 0;
    position: absolute;
    z-index: 2;
}

#flip-min {
    position: absolute;
    z-index: 3;
    padding: 0;
    margin: 5px;
}

#innerelement1 {
    width: 100%;
    height: 100%;
}

#innereelement2 {
    width: 100%;
    height: 100%;
}

/*.labelfor {*/
/*text-overflow: clip;*/
/*overflow: hidden;*/
/*}*/

.ui-slider {
    width: 100%;
    border: 20px;
}

#slider-fill {
    width: 100%;
    border: 20px;
}

#navBar {
    margin-left: 10px;
    margin-top: 0px;
    width: 50%;
    position: absolute;
    z-index: 10;
}

#southPanel {
    display: inline-block;
    float: left;
}

/*Hide everything with a cover until the sim is all layed out.  http://stackoverflow.com/questions/9550760/hide-page-until-everything-is-loaded-advanced*/
#cover {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 9999;
}

.controlLabel2 {
    font-size: 23px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.controlLabel {
    font-size: 23px;
    text-align: center
}

.returnButtons {
    padding: 10px;
    margin: 10px;
}

.slider_steps {
    width: 100%
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.alignright2 {
    float: right;
    width: 100px;
}

.tinyswitch {
    width: 100px;
    position: absolute;
}

.creditsLogo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    /*width: 300px;*/
}

.creditsText {
    display: inline-block;
    vertical-align: middle;
    /*width: 300px;*/
}


canvas { position: absolute; }
