<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <servlet>
        <description>A first test servlet</description>
        <display-name>Hello World Servlet</display-name>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>edu.colorado.phet.tomcattest.HelloWorld</servlet-class>
    </servlet>
    <servlet>
        <description>Exactly what the display name says</description>
        <display-name>Request Header Example</display-name>
        <servlet-name>RequestHeaderExample</servlet-name>
        <servlet-class>edu.colorado.phet.tomcattest.RequestHeaderExample</servlet-class>
    </servlet>
    <servlet>
        <description>Tests mysql login and other things</description>
        <display-name>MySQL Test</display-name>
        <servlet-name>MySQLTestServlet</servlet-name>
        <servlet-class>edu.colorado.phet.tomcattest.MySQLTestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/helloworld</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestHeaderExample</servlet-name>
        <url-pattern>/requestheaderexample</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MySQLTestServlet</servlet-name>
        <url-pattern>/mysqltest</url-pattern>
    </servlet-mapping>
</web-app>
