
.contribute-standards-table {
    border-collapse: collapse;
    /*border: 1px solid gray;*/
}

.contribute-standards-table td {
    padding: 2px;
    /*border: 1px solid gray;*/
}

.contribute-standard-label {
    text-align: right;
    border-right: 1px solid gray;
}

div.rtl .contribute-standard-label {
    text-align: left;
    border-right: none;
    border-left: 1px solid gray;
}

.contribute-level-label {
    border: 1px solid gray;
}

.contribute-standard-checkmark {
    border: 1px solid gray;
    text-align: center;
}

.contribute-standard-checkbox {
    border: 1px solid gray;
    text-align: center;
}

.contribution-form-tip {
    font-size: 9px;
}

.contribution-feedback span {
    color: red;
}

.contribution-edit-table td.contribution-edit-input {
    padding-bottom: 10px;
}

.contribution-quick-admin {
    font-weight: bold;
    width: auto;
    border: 1px solid red;
    margin: 2px;
    padding: 5px;
}

.contribution-approved {
    color: green;
}

.contribution-unapproved {
    color: red;
}

.contrib-guide-list li {
    padding-bottom: 10px;
}

.contrib-guide-header {
    font-weight: bold;
    font-size: 120%;
}
