
.contribute-standards-table {
    border-collapse: collapse;
    /*border: 1px solid gray;*/
}

.contribute-standards-table td {
    padding: 2px;
    /*border: 1px solid gray;*/
}

.contribute-standard-label {
    text-align: right;
    border-right: 1px solid gray;
}

.contribute-level-label {
    border: 1px solid gray;
}

.contribute-standard-checkmark {
    border: 1px solid gray;
    text-align: center;
}

.contribute-standard-checkbox {
    border: 1px solid gray;
    text-align: center;
}

.contribution-form-tip {
    font-size: 9px;
}

.contribution-feedback span {
    color: red;
}

.contribution-edit-table td.contribution-edit-input {
    padding-bottom: 10px;
}
