.contribution-search .simulations {
    width: 265px;
    padding: 0;
    margin: 0;
}

.contribution-search .types {
    width: 100px;
    padding: 0;
    margin: 0;
}

.contribution-search .levels {
    width: 100px;
    padding: 0;
    margin: 0;
}

.contribution-search .locales {
    width: 180px;
    padding: 0;
    margin: 0;
}