/* This one rule is for IndexPage.html */
div.index-holder {
    width: 765px;
    margin: 0 auto;
}

.index-content {
    width: 745px;
    font-size: 14px;
    padding: 10px;
}

.old-content {
    text-align: center;
}

#index-animated-screenshot-holder {
    width: 300px;
    height: 200px;
    float: left;
    border: 1px solid #cccccc;
}

#right-middle {
/*margin-left: 310px;*/
/*position: relative;*/
    position: absolute;
    width: 425px;
    left: 310px; /*left: 300px;*/
}

#index-middle-div {
/*height: 199px;*/
    position: relative;
    height: 222px;
    background-image: url(../images/home-background-1.png);
    background-position: bottom left;
    background-repeat: no-repeat;
}

#index-header {
    color: #d36a04;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

#index-main-text {
    color: #333333;
    margin-right: 10px;
}

#index-play-sims {
    width: 153px;
    height: 38px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    display: block;
    color: #FFFFFF;
    margin-top: 5px;
    background-image: url(../images/blank-button.gif);
}

#index-play-sims-text {
    vertical-align: middle;
    line-height: 38px;
}

.pws-holder {
    margin: 10px auto 0;
    height: 32px;
}

.pws-table {
    margin: 0 auto;
    height: 32px;
    padding: 0;
}

.pws-table tr {
    margin: 0;
    padding: 0;
}

.pws-table td {
    padding: 0;
}

.pws-middle {
    text-align: center;
    vertical-align: middle;
    height: 32px;
    background-image: url(../images/blank-button-middle.gif);
}

.pws-middle a {
    height: 32px;
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 5px;
    padding-right: 5px;
}

.pws-left {
    padding: 0;
    width: 6px;
    height: 32px;
    background-image: url(../images/blank-button-left.gif);
}

.pws-right {
    padding: 0;
    width: 6px;
    height: 32px;
    background-image: url(../images/blank-button-right.gif);
}

#sponsors {
    position: absolute;
    height: 70px;
    width: 425px;
    left: 0;
    top: 129px;
}

.sponsor {
    height: 70px;
    width: 100px;
    margin-right: 10px;
    text-align: center;
    font-size: 10px;
}

td.sponsor {
    vertical-align: top;

}

.sponsor a {
    text-decoration: none;
    color: #990000;
    text-align: center;
}

.sponsor img {
    border: none;
}

.langlink {
    text-decoration: none;
    color: #990000;
}

div.practices {
    background: url(../images/practice-background.png) left bottom no-repeat;
    width: 745px;
    margin-top: 15px;
    margin-bottom: 10px;
    clear: both;
    position: relative;
}

div.practices dl {
    position: relative;
    width: 185px;
    float: left;
    margin-right: 1px;
    background: url(../images/practiceSeperator.gif) right top no-repeat;
}

div.rtl div.practices dl {
    width: 185px;
    float: right;
    margin-right: 0;
    margin-left: 1px;
    background: url(../images/practiceSeperator.gif) left top no-repeat;
}

div.practices dl.last {
    background: none;
    width: 186px;
}

div.practices dl.last dd {
    /*text-align: right;*/
}

div.rtl div.practices dl.last dd {
    /*text-align: inherit;*/
}

div.practices dl dt {
    height: 41px;
    background-color: #615c92;
    padding-left: 5px;
    margin-bottom: 1em;
}

div.practices dl dt a {
    background: url(../images/white-arrow-right2.png) no-repeat 2px 5px;
    padding-left: 9px;
    font-size: 13px;
    color: white;
    text-decoration: none;
    position: relative;
    top: 13px;
}

div.rtl div.practices dl dt a {
    background: none;
    padding-left: 0;
    padding-right: 9px;
}

div.practices dl dd {
    margin: 0;
    padding: 0 15px;
    font-size: 12px;
}

div.practices dd a.nolink {
    background: none;
    text-decoration: none;
    color: #000;
    padding: 0;
    line-height: 20px;
}

div.practices dd a:hover.nolink {
    background: none;
    text-decoration: none;
    color: #000;
    padding: 0;
    line-height: 20px;
}

div.practices dd a {
    background: url(../images/circleArrow_Icon.gif) no-repeat 0 0;
    text-decoration: none;
    color: #000;
    padding: 0 0 0 17px;
    line-height: 20px;
}

div.rtl div.practices dd a {
    background: none;
}

div.practices dd a img {
    border: none;
}

div.practices dd a:hover {
    background: url(../images/circleArrow_Icon.gif) no-repeat 0 0;
    text-decoration: none;
    color: #2345a1;
    padding: 0 0 0 17px;
    line-height: 20px;
}

.clear {
    clear: both;
}

.home-about-phet {
    text-align: center;
    position: absolute;
    top: 199px;
    height: 23px;
    left: 0px;
    width: 425px;
    font-size: 12px;
}

.home-about-phet a {
    text-decoration: none;
}

.home-about-phet a:hover {
    text-decoration: underline;
}

body#offline-installer-body div.practices dl.get-phet-links {
    display: none;
}

body#offline-installer-body div.practices dl {
    width: 247px;
}

body#offline-installer-body div.rtl div.practices dl {
    width: 247px;
}

body#offline-installer-body div.practices dl.last {
    width: 248px;
}