body {
    padding: 0;
    margin: 0;
    font-family: "arial", Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#page-header {
    background: url(../images/header_BG.gif) left top repeat-x;
    height: 127px;
    margin-bottom: 10px;
}

#page-header-logo {
    position: absolute;
    width: 242px;
    height: 127px;
    left: 0;
    top: 0;
}

div.rtl #page-header-logo {
    left: auto !important;
    right: 0 !important;
}

#page-header-search {
    position: absolute;
    right: 10px;
    bottom: 20px;
    text-align: right;
    vertical-align: bottom;
    color: white;
}

#page-header-search a {
    /* for the current version link */
    color: white;
}

#page-header-search form {
    padding: 0;
    margin: 0;
}

div.rtl #page-header-search {
    right: auto !important;
    left: 10px;
}

#page-header-title {
    position: absolute;
    width: 400px;
    height: 127px;
    right: 0;
    top: 0;
}

div.rtl #page-header-title {
    right: auto !important;
    left: 0 !important;
}

#page-header-logo img {
    border: 0;
}

#page-header-container {
    height: 127px;
    margin: 0 auto;
    width: 765px;
    position: relative;
}

#page-content {
/*width: 765px;*/
/*margin: 0 auto;*/
}

.log-in-out {
    position: absolute;
    text-align: right;
    top: 0;
    right: 0;
    color: white;
    padding: 0.5em;
}

body.rtl .log-in-out {
    text-align: left;
    right: auto;
    left: 0;
}

.log-in-out a {
    color: white;
}

#main-content a {
    text-decoration: none;
}

#main-content a:hover {
    text-decoration: underline;
}

#main-content .simulation-list-item a:hover {
    text-decoration: none;
}

#main-content .breadcrumbs a:hover {
    text-decoration: none;
}

.standard-content h2 {
    font-size: 16px;
    color: #15337f;
}

.strike {
    text-decoration: line-through;
}

.float-classic-left {
    float: left;
}

div.rtl .flat-classic-left {
    float: right;
}

.float-classic-right {
    float: right;
}

div.rtl .flat-classic-right {
    float: left;
}

.clear-classic {
    clear: right;
}

div.rtl .clear-classic {
    clear: left;
}

.text-left-classic {
    text-align: left;
}

div.rtl .text-left-classic {
    text-align: right;
}

.text-right-classic {
    text-align: right;
}

div.rtl .text-right-classic {
    text-align: left;
}

.noborder {
    border: none;
}

.loginout-list {
    padding: 0;
    margin: 0;
}

.loginout-list li {
    display: inline;
    list-style-type: none;
}

.loginout-spacer {
    padding-right: 5px;
    padding-left: 5px;
}

.donate-box1 {
    float: right;
}

.donate-box1 a {
    /*text-decoration: none;*/
    /*color: black;*/
}

.donate-box2 {
    text-align: right;
}

.list-highlight-background {
    background-color: #eeeeee;
}

#skipNav {
    position: absolute;
    left: -9999px;
    width: 9000px;
    font-size: 1px;
    letter-spacing: -1px;
}
