.troubleshooting {
    font-size: 12px;
}

.troubleshooting h2 {
    color: #15337f;
    font-size: 16px;
}

.troubleshooting p {
    margin-left: 2em;
    margin-right: 2em;
}

.troubleshooting a img {
    border: 0;
}

p.to-top {
    text-align: right;
    margin: 0;
    padding: 0;
}

div.rtl p.to-top {
    text-align: left;
}

p.to-top a {
    text-decoration: none;
    font-size: 8px;
    font-variant: small-caps;
    color: red;
    background-color: yellow;
    border: 1px dotted gray;
    font-weight: bold;
}

.to-top-text {
    padding: 0 2px;
}

.to-top-arrow {
    border-left: 1px dotted gray;
    padding: 0 1px;
}

div.rtl .to-top-arrow {
    border: none;
}