/*
    YesLogic Prince - XHTML stylesheet
    http://yeslogic.com/prince
*/

/*html { 
  display: block;
  counter-reset: page 1
}*/
head { display: none }
body {
    display: block;
    page: main;
    margin-left: 40px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-top: 40px;
}

aaa { text-align: right }


ex1, ex2, ex3, ex4, ex5, ex6, ex7, ex8 { 
  font-family: sans-serif;
  font-size: 10pt;
  line-break-after: always;
 }

ex1 { 
  margin-left: 20;
}

ex2 { 
  margin-left: 25    
 }



#chapter { 
  page-break-after: always;
}

#title { 
  page-break-after: always;
  padding-top: 35%;
}


h2 { page-break-after: avoid }
h3 { page-break-after: avoid }
/* Headings */

h1.main { 
  color: #000055;
  text-align: center;
  display: block;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 26pt;
  border-bottom: 3px solid #000055
}

h1 {
    color: #000055;    
    display: block;
    font-weight: bold;
    border-bottom: 1px solid #000055
}

h2, h3, h4, h5, h6 { 
    color: #000055;    
    display: block;
    font-weight: normal;
 }

ap1, ap2, ap3 {  
  font-size: 12pt; 
  font-family: sans-serif; 
  font-weight: normal;
  white-space: pre;
  text-align: justify
}

ap1 {
     line-break-after: always;
}

ap2 { line-break-after: always;
  margin-left: 20;
  }

ap3 { line-break-after: always;
  margin-left: 40;
 }

h1 { font-family: sans-serif; font-size: 18pt; margin: 16pt 0 }
h2 { font-family: sans-serif; font-size: 14pt; margin: 15pt 0 }
h3 { font-family: sans-serif; font-size: 12pt; margin: 14pt 0 }
h4 { font-size: 12pt; margin: 16pt 0 }
h5 { font-size: 10pt; margin: 16.5pt 0 }
h6 { font-size:  8pt; margin: 21pt 0 }

/* Block elements */

address {
    display: block;
    font-style: italic
}

blockquote {
    display: block;
    margin-top: 1.12em;
    margin-bottom: 1.12em;
    margin-left: 40px;
    margin-right: 40px
}

div { display: block }

p {
    font-family: sans-serif;
    display: block;
    margin-top: 1.12em;
    margin-bottom: 1.12em;
    font-size: 10pt;
  
}

p1 {
    font-family: sans-serif;
    display: block;
    margin-top: 1.12em;
    margin-bottom: 1.12em;
    margin-left: 30px;
    font-size: 10pt;
  
}

pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    font-size: 10pt;
    border:1px dotted black;
    width:85%;
}

hr {
    display: block;
    border: 1pt solid black
}

/* Images */

img[src] {
    content: attr(src, url);
    display: inline-block
}

object[src] {
    content: attr(src, url);
    display: inline-block
}

/* Scripting */

script { display: none }
noscript { display: block }

/* Forms */

form, fieldset { display: block }

/* Frames */

frameset, noframes { display: block }

/* Lists */

dl { display: block }

dt {
    display: block;
}

dd {
    display: block;
    margin-left: 40px;
    margin-bottom: 1.0em
}

ol {
    display: block;
    list-style-type: decimal;
    counter-reset: list-item
}

ul {
    display: block;
    list-style-type: disc;
    counter-reset: list-item
}

li {
    font-family: sans-serif;
  font-size: 10pt;
  display: list-item;
    counter-increment: list-item;
    margin-left: 30pt
}

li::marker {
    padding-right: 8pt;
    text-align: left
}

/* Tables */

table { display: table;
  width: 100%;
  font-size: 12pt;
  font-family: sans-serif
 }
tr    { display: table-row }
thead { display: table-header-group }
tfoot { display: table-footer-group }
tbody { display: table-row-group }
td    { display: table-cell }
th    { display: table-cell; font-weight: bold; text-align: center }

td[colspan="2"], th[colspan="2"] { column-span: 2 }
td[colspan="3"], th[colspan="3"] { column-span: 3 }
td[colspan="4"], th[colspan="4"] { column-span: 4 }
td[colspan="5"], th[colspan="5"] { column-span: 5 }
td[colspan="6"], th[colspan="6"] { column-span: 6 }
td[colspan="7"], th[colspan="7"] { column-span: 7 }
td[colspan="8"], th[colspan="8"] { column-span: 8 }
td[colspan="9"], th[colspan="9"] { column-span: 9 }

td[rowspan="2"], th[rowspan="2"] { row-span: 2 }
td[rowspan="3"], th[rowspan="3"] { row-span: 3 }
td[rowspan="4"], th[rowspan="4"] { row-span: 4 }
td[rowspan="5"], th[rowspan="5"] { row-span: 5 }
td[rowspan="6"], th[rowspan="6"] { row-span: 6 }
td[rowspan="7"], th[rowspan="7"] { row-span: 7 }
td[rowspan="8"], th[rowspan="8"] { row-span: 8 }
td[rowspan="9"], th[rowspan="9"] { row-span: 9 }

/* Inline elements */

abbr, acronym { text-underline-style: dotted }

i, cite, dfn, em, var { font-style: italic }

code {font-family: monospace;
  font-size: 9pt;
  background:#e5e5e5;
  page-break-inside: avoid  }

tt, kbd, samp { 
  font-family: monospace;
  font-size: 10pt
 }

b, strong { font-weight: bold }

u { text-decoration: underline }

ins { text-decoration: underline }
del { text-decoration: line-through }

big { font-size: 1.17em }
small, sub, sup { font-size: 0.83em }
sub { vertical-align: sub }
sup { vertical-align: super }

br { line-break-after: always }

/* Links */

a[href] {
  color: black;
  text-decoration:none;
  link-role: source;
  link-target: attr(href)
}

/* Header */
@page {
  @bottom-left { 
     content: "BitRock LAMPStack";
     font-family: sans-serif;
     font-size: 9pt;
     color: #000055
  } 
  
  @bottom-right { content: counter(page);
     font-family: sans-serif;
     font-size: 9pt; 
     color: #000055
  }
}

@page:first { 
    @bottom-left { content: normal }
    @bottom-right { content: normal }
}

@page:first { 
  margin-top: 300pt
}

/* NEW */


body {
	background:#e5e5e5;
}

div#left a {
       display: block;
       text-align: center;
       font: bold 1em sans-serif; 
       padding: 5px 10px;
       margin: 0 0 2px;
       border-width: 0; 
       text-decoration: none;
       background: #005;
       color: #ccccff;
}

div#left a:first-child { border-top: none }

div#left a:hover {color: #664444; background: #ccccff;}

div#left {
        position: fixed;
        top: 42px; 
        left: 15px; 
        width: 175px; 
        height: 700px; 
        font: 14px Verdana, sans-serif; 
}


div#chapter a {
       color: #005;
       font-weight: bold;
}

div#chapter a:hover {
       color: #005;
       background:#e5e5e5;      
}
