Redirect      permanent /web-pages/about-phet.html                                     http://phet.colorado.edu/about/
Redirect      permanent /web-pages/contribute.htm                                      http://phet.colorado.edu/contribute/
Redirect      permanent /web-pages/db                                                  http://phet.colorado.edu/
Redirect      permanent /web-pages/educator-resources.html                             http://phet.colorado.edu/teacher_ideas/
Redirect      permanent /web-pages/javasupport.html                                    http://phet.colorado.edu/tech_support/support-java.php
Redirect      permanent /web-pages/license.html                                        http://phet.colorado.edu/about/licensing.php
Redirect      permanent /web-pages/misc-pages/publications.html                        http://phet.colorado.edu/research/
Redirect      permanent /web-pages/misc-pages/flash_detect_v7.html                     http://phet.colorado.edu/tech_support/flash_detect_v7.html
Redirect      permanent /web-pages/misc-pages/ratings-explanation.html                 http://phet.colorado.edu/about/legend.php
RedirectMatch permanent /web-pages/misc-pages.*                                        http://phet.colorado.edu/
Redirect      permanent /web-pages/publications/index.html                             http://phet.colorado.edu/research/index.php
Redirect      permanent /web-pages/publications/phet-translation.htm                   http://phet.colorado.edu/contribute/translation-utility.php
Redirect      permanent /web-pages/publications/phet-translation-deployment.htm        http://phet.colorado.edu/contribute/translation-utility.php
Redirect      permanent /web-pages/publications                                        http://phet.colorado.edu/phet-dist/publications
Redirect      permanent /web-pages/misc-pages/ratings-explanation.html                 http://phet.colorado.edu/about/legend.php
Redirect      permanent /web-pages/research.html                                       http://phet.colorado.edu/research/
Redirect      permanent /web-pages/simulation-header.htm                               http://phet.colorado.edu/simulations/
Redirect      permanent /web-pages/simulation-header_es.htm                            http://phet.colorado.edu/simulations/translations.php#Spanish
Redirect      permanent /web-pages/simulation-pages/chemistry-simulations.htm          http://phet.colorado.edu/simulations/index.php?cat=Chemistry
Redirect      permanent /web-pages/simulation-pages/cuttingedge-simulations.htm        http://phet.colorado.edu/simulations/index.php?cat=Cutting_Edge_Research
Redirect      permanent /web-pages/simulation-pages/electricity-simulations.htm        http://phet.colorado.edu/simulations/index.php?cat=Electricity_Magnets_and_Circuits
Redirect      permanent /web-pages/simulation-pages/heat-thermo-simulations.htm        http://phet.colorado.edu/simulations/index.php?cat=Heat_and_Thermo
Redirect      permanent /web-pages/simulation-pages/index.html                         http://phet.colorado.edu/simulations/index.php?cat=Top_Simulations
Redirect      permanent /web-pages/simulation-pages/light-radiation-simulations.htm    http://phet.colorado.edu/simulations/index.php?cat=Light_and_Radiation
Redirect      permanent /web-pages/simulation-pages/math-tools.htm                     http://phet.colorado.edu/simulations/index.php?cat=Math_Tools
Redirect      permanent /web-pages/simulation-pages/motion-simulations.htm             http://phet.colorado.edu/simulations/index.php?cat=Motion
Redirect      permanent /web-pages/simulation-pages/new-simulations.htm                http://phet.colorado.edu/simulations/index.php?cat=New_Sims
Redirect      permanent /web-pages/simulation-pages/quantum-phenomena-simulations.htm  http://phet.colorado.edu/simulations/index.php?cat=Quantum_Phenomena
Redirect      permanent /web-pages/simulation-pages/simulation-index.htm               http://phet.colorado.edu/simulations/index.php?cat=All_Sims
Redirect      permanent /web-pages/simulation-pages/sound-simulations.htm              http://phet.colorado.edu/simulations/index.php?cat=Sound_and_Waves
Redirect      permanent /web-pages/simulation-pages/top-simulations.htm                http://phet.colorado.edu/simulations/index.php?cat=Top_Simulations
Redirect      permanent /web-pages/simulation-pages/work-energy-simulations.htm        http://phet.colorado.edu/simulations/index.php?cat=Work_Energy_and_Power
RedirectMatch permanent /web-pages/simulation-pages/.*                                 http://phet.colorado.edu/simulations/
Redirect      permanent /web-pages/simulations-base.html                               http://phet.colorado.edu/simulations/
Redirect      permanent /web-pages/simulations-base_es.html                            http://phet.colorado.edu/simulations/translations.php#Spanish
Redirect      permanent /web-pages/support.html                                        http://phet.colorado.edu/tech_support/
Redirect      permanent /web-pages/whatsnew-archive.htm                                http://phet.colorado.edu/about/news.php
Redirect      permanent /web-pages/whatsnew.htm                                        http://phet.colorado.edu/about/news.php

RedirectMatch permanent /web-pages/downloads.*.html                                    http://phet.colorado.edu/get_phet/
RedirectMatch permanent /web-pages/manualPages.*                                       http://phet.colorado.edu/
RedirectMatch permanent /web-pages/simulation-[a-z]+_es.*                              http://phet.colorado.edu/simulations/translations.php#Spanish
RedirectMatch permanent /web-pages/simulation-pages/abstracts.*                        http://phet.colorado.edu/simulations/
RedirectMatch permanent /web-pages/simulation-pages_es.*                               http://phet.colorado.edu/simulations/translations.php#Spanish

# Catch all
Redirect      permanent /web-pages/                                                    http://phet.colorado.edu/
