<table align="center">
    <tr>
        <td data-symbol="H">H</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td data-symbol="He">He</td>
    </tr>
    <tr>
        <td data-symbol="Li">Li</td>
        <td data-symbol="Be">Be</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td data-symbol="B">B</td>
        <td data-symbol="C">C</td>
        <td data-symbol="N">N</td>
        <td data-symbol="O">O</td>
        <td data-symbol="F">F</td>
        <td data-symbol="Ne">Ne</td>
    </tr>
    <tr>
        <td data-symbol="Na">Na</td>
        <td data-symbol="Mg">Mg</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td data-symbol="Al">Al</td>
        <td data-symbol="Si">Si</td>
        <td data-symbol="P">P</td>
        <td data-symbol="S">S</td>
        <td data-symbol="Cl">Cl</td>
        <td data-symbol="Ar">Ar</td>
    </tr>
    <tr>
        <td data-symbol="K">K</td>
        <td data-symbol="Ca">Ca</td>
        <td data-symbol="Sc">Sc</td>
        <td data-symbol="Ti">Ti</td>
        <td data-symbol="V">V</td>
        <td data-symbol="Cr">Cr</td>
        <td data-symbol="Mn">Mn</td>
        <td data-symbol="Fe">Fe</td>
        <td data-symbol="Co">Co</td>
        <td data-symbol="Ni">Ni</td>
        <td data-symbol="Cu">Cu</td>
        <td data-symbol="Zn">Zn</td>
        <td data-symbol="Ga">Ga</td>
        <td data-symbol="Ge">Ge</td>
        <td data-symbol="As">As</td>
        <td data-symbol="Se">Se</td>
        <td data-symbol="Br">Br</td>
        <td data-symbol="Kr">Kr</td>
    </tr>
    <tr>
        <td data-symbol="Rb">Rb</td>
        <td data-symbol="Sr">Sr</td>
        <td data-symbol="Y">Y</td>
        <td data-symbol="Zr">Zr</td>
        <td data-symbol="Nb">Nb</td>
        <td data-symbol="Mo">Mo</td>
        <td data-symbol="Tc">Tc</td>
        <td data-symbol="Ru">Ru</td>
        <td data-symbol="Rh">Rh</td>
        <td data-symbol="Pd">Pd</td>
        <td data-symbol="Ag">Ag</td>
        <td data-symbol="Cd">Cd</td>
        <td data-symbol="In">In</td>
        <td data-symbol="Sn">Sn</td>
        <td data-symbol="Sb">Sb</td>
        <td data-symbol="Te">Te</td>
        <td data-symbol="I">I</td>
        <td data-symbol="Xe">Xe</td>
    </tr>
    <tr>
        <td data-symbol="Cs">Cs</td>
        <td data-symbol="Ba">Ba</td>
        <td data-symbol="La">La</td>
        <td data-symbol="Hf">Hf</td>
        <td data-symbol="Ta">Ta</td>
        <td data-symbol="W">W</td>
        <td data-symbol="Re">Re</td>
        <td data-symbol="Os">Os</td>
        <td data-symbol="Ir">Ir</td>
        <td data-symbol="Pt">Pt</td>
        <td data-symbol="Au">Au</td>
        <td data-symbol="Hg">Hg</td>
        <td data-symbol="Tl">Tl</td>
        <td data-symbol="Pb">Pb</td>
        <td data-symbol="Bi">Bi</td>
        <td data-symbol="Po">Po</td>
        <td data-symbol="At">At</td>
        <td data-symbol="Rn">Rn</td>
    </tr>
    <tr>
        <td data-symbol="Fr">Fr</td>
        <td data-symbol="Ra">Ra</td>
        <td data-symbol="Ac">Ac</td>
        <td data-symbol="Rf">Rf</td>
        <td data-symbol="Db">Db</td>
        <td data-symbol="Sg">Sg</td>
        <td data-symbol="Bh">Bh</td>
        <td data-symbol="Hs">Hs</td>
        <td data-symbol="Mt">Mt</td>
        <td data-symbol="Ds">Ds</td>
        <td data-symbol="Rg">Rg</td>
        <td data-symbol="Cn">Cn</td>
    </tr>
</table>
