/* Scrollable table

NOTE:
This CSS does not validate.  Not worrying about this right now.  Currently, this is
only shown an the admin panel for debugging purposes, and my direction is to make
this workable but don't spend a lot of time making it spiffy nice.

From: http://web.tampabay.rr.com/bmerkey/examples/nonscroll-table-header.html

Explaination from the website:
This frozen / locked HTML table header is a usability advance done without HTML
fakery such as hidden tables, frames, or JavaScript. Tested in (Windows) Mozilla-
spawned browsers (incl. Netscape 6+ and Firefox) and IE5+. IE has problems with
the screen behavior of the footer—but thanks to a clever expression provided by
Renato Cherullo, even IE6 can have a modern footer. Mozilla self-induces display
problems cramming the scrollbar into the last column, which can be corrected with
advanced selector syntax. Surprisingly, both render the printed version of the
table consistently well, including the repeated headers and footers.

Links: Windows tutorial (http://web.tampabay.rr.com/bmerkey/fall99.htm)
on the methods used § Extension in IE (http://web.tampabay.rr.com/bmerkey/examples/locked-column-csv.html)
to provide locked columns § Dealing with Form Selects (http://web.tampabay.rr.com/bmerkey/examples/nonscroll-table-header2.html)
in data tables § Vertical variation (http://web.tampabay.rr.com/bmerkey/examples/nonscroll-table-header3.html)
on theme (IE5.5+ only)

*/

div.tableContainer {
    width: 99%;     /* table width will be 99% of this*/
    height: 605px;  /* must be greater than tbody*/
    overflow: auto;
    margin: 0 auto;
    }

.tableContainer table {
    border-spacing: 0px 0px;
    width: 99%;     /*100% of container produces horiz. scroll in Mozilla*/
    border: none;
    background-color: #f7f7f7;
    }

.tableContainer table>tbody {  /* child selector syntax which IE6 and older do not support*/
    overflow: auto;
    height: 250px;
    overflow-x: hidden;
    }

.tableContainer thead tr    {
    position:relative;
    top: expression(offsetParent.scrollTop); /*IE5+ only*/
    }

.tableContainer thead td, .tableContainer thead th {
    text-align: center;
    vertical-align: bottom;
    font-size: 14px;
    background-color: #fdf5e6/*oldlace*/;
    color: #4682b4/*steelblue*/;
    font-weight: bold;
    border-top: solid 1px #d8d8d8;
    }

.tableContainer td  {
    color: #000;
    padding-right: 2px;
    font-size: 12px;
    text-align: right;
    border-bottom: solid 1px #d8d8d8;
    border-left: solid 1px #d8d8d8;
    }

.tableContainer table tfoot tr { /*idea of Renato Cherullo to help IE*/
      position: relative;
      overflow-x: hidden;
      top: expression(parentNode.parentNode.offsetHeight >=
      offsetParent.offsetHeight ? 0 - parentNode.parentNode.offsetHeight + offsetParent.offsetHeight + offsetParent.scrollTop : 0);
      }

.tableContainer tfoot td    {
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    background-color: #FFEFD5/*papayawhip*/;
    color: #4682b4/*steelblue*/;
    border-top: solid 1px #708090/*slategray*/;
    }

.tableContainer td:last-child {padding-right: 20px;} /*prevent Mozilla scrollbar from hiding cell content*/

