<!--<div data-role="header" data-position="fixed">-->
<!--<h1>Hello!</h1>-->
<!--<a href="index.html" data-icon="delete">Cancel</a>-->

<!--<h1>Edit Contact</h1>-->
<!--<a href="index.html" data-icon="check">Save</a>-->

<!--<div data-role="navbar">-->
<!--<ul>-->
<!--<li><a href="#tab1" class="<%= class1 %>" data-transition="none">Introduction</a></li>-->
<!--<li><a href="#tab2" class="<%= class2 %>" data-transition="none">Friction</a></li>-->
<!--<li><a href="#tab3" class="<%= class3 %>" data-transition="none">Track Playground</a></li>-->
<!--</ul>-->
<!--<a href="#popupDialog" data-rel="popup" data-position-to="window" data-role="button" data-inline="true" data-transition="pop">Dialog</a>-->

<!--<div data-role="popup" id="popupDialog" style="max-width:480px;" class="ui-corner-all">-->
<!--<div data-role="header" data-theme="a" class="ui-corner-top">-->
<!--<h1>PhET Interactive Simulations</h1>-->
<!--</div>-->
<!--<div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">-->
<!--Copyright (c) 2004-2012 University of Colorado Boulder-->
<!--<a href="#">Some rights reserved</a>-->

<!--<a href="http://phet.colorado.edu">Visit http://phet.colorado.edu</a>-->
<!--<hr>-->
<!--<h3 class="ui-title">Energy Skate Park: Basics</h3>-->

<!--<p>Version 2.13.00 (66019)</p>-->

<!--<p>Build Date: July 19, 2012</p>-->

<!--<p>Java version: 1.7.0_09</p>-->
<!--<a href="#" data-role="button" data-inline="true" data-rel="back" data-theme="c">Software Agreement</a>-->
<!--<a href="#" data-role="button" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">Credits</a>-->
<!--<a href="#" data-role="button" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">Close</a>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->