#
# HTACCESS file for remapping old simulations to where the newest ones
#exist
#
# Original location:
#    tigercat.colorado.edu/web/htdocs/phet/simulations/
# New location:
#    phet.colorado.edu/sims/
#

# Show the user a page if looking for something that is no longer here
ErrorDocument 400 /simulations/index.html
ErrorDocument 404 /simulations/index.html
ErrorDocument 500 /simulations/index.html

# Redirect specific sims
Redirect permanent /simulations/arithmetic/Arithmetic.Max.swf                       http://phet.colorado.edu/sims/arithmetic/arithmetic.swf
Redirect permanent /simulations/arithmetic/Arithmetic.swf                           http://phet.colorado.edu/sims/arithmetic/arithmetic.swf
Redirect permanent /simulations/arithmetic/ArithmeticClockOnly.swf                  http://phet.colorado.edu/sims/arithmetic/arithmetic-clock-only.swf
Redirect permanent /simulations/balloon/balloon_es.jnlp                             http://phet.colorado.edu/sims/balloons/balloons_es.jnlp
Redirect permanent /simulations/balloon/balloons-save.jar                           http://phet.colorado.edu/sims/balloons/balloons.jar
Redirect permanent /simulations/balloon/balloons.jar                                http://phet.colorado.edu/sims/balloons/balloons.jar
Redirect permanent /simulations/balloon/webstart.jnlp                               http://phet.colorado.edu/sims/balloons/balloons.jnlp
Redirect permanent /simulations/batteryvoltage/batteryVoltage.jar                   http://phet.colorado.edu/sims/battery-voltage/battery-voltage.jar
Redirect permanent /simulations/batteryvoltage/batteryvoltage_sp.jnlp               http://phet.colorado.edu/sims/battery-voltage/battery-voltage_es.jnlp
Redirect permanent /simulations/batteryvoltage/webstart.jnlp                        http://phet.colorado.edu/sims/battery-voltage/battery-voltage.jnlp
Redirect permanent /simulations/blackbody/blackbody.swf                             http://phet.colorado.edu/sims/black-body-radiation/black-body-radiation.swf
Redirect permanent /simulations/bound-states/band-structure.jnlp                    http://phet.colorado.edu/sims/bound-states/band-structure.jnlp
Redirect permanent /simulations/bound-states/band-structure_es.jnlp                 http://phet.colorado.edu/sims/bound-states/band-structure_es.jnlp
Redirect permanent /simulations/bound-states/bound-states.jnlp                      http://phet.colorado.edu/sims/bound-states/bound-states.jnlp
Redirect permanent /simulations/bound-states/bound-states_es.jnlp                   http://phet.colorado.edu/sims/bound-states/bound-states_es.jnlp
Redirect permanent /simulations/bound-states/boundstates.jar                        http://phet.colorado.edu/sims/bound-states/bound-states.jar
Redirect permanent /simulations/bound-states/covalent-bonds.jnlp                    http://phet.colorado.edu/sims/bound-states/covalent-bonds.jnlp
Redirect permanent /simulations/bound-states/covalent-bonds_es.jnlp                 http://phet.colorado.edu/sims/bound-states/covalent-bonds_es.jnlp
Redirect permanent /simulations/cck/cck-ac-lab.jnlp                                 http://phet.colorado.edu/sims/cck/cck-ac.jnlp
Redirect permanent /simulations/cck/cck-ac-lab_sp.jnlp                              http://phet.colorado.edu/sims/cck/cck-ac_es.jnlp
Redirect permanent /simulations/cck/cck-ac.jnlp                                     http://phet.colorado.edu/sims/cck/cck-ac.jnlp
Redirect permanent /simulations/cck/cck-ac_sp.jnlp                                  http://phet.colorado.edu/sims/cck/cck-ac_es.jnlp
Redirect permanent /simulations/cck/cck-grabbag.jnlp                                http://phet.colorado.edu/sims/cck/cck-dc.jnlp
Redirect permanent /simulations/cck/cck-lab.jnlp                                    http://phet.colorado.edu/sims/cck/cck-dc.jnlp
Redirect permanent /simulations/cck/cck-pro.jar                                     http://phet.colorado.edu/sims/cck/cck-dc.jar
Redirect permanent /simulations/cck/cck.jar                                         http://phet.colorado.edu/sims/cck/cck.jar
Redirect permanent /simulations/cck/cck.jnlp                                        http://phet.colorado.edu/sims/cck/cck-dc.jnlp
Redirect permanent /simulations/cck/cck_sp.jnlp                                     http://phet.colorado.edu/sims/cck/cck-dc_es.jnlp
Redirect permanent /simulations/chargesandfields/ChargesAndFields.swf               http://phet.colorado.edu/sims/charges-and-fields/charges-and-fields.swf
Redirect permanent /simulations/chargesandfields/ChargesAndFieldsOlder.swf          http://phet.colorado.edu/sims/charges-and-fields/charges-and-fields.swf
Redirect permanent /simulations/colorvision3/colorvision3.jar                       http://phet.colorado.edu/sims/color-vision/color-vision.jar
Redirect permanent /simulations/colorvision3/colorvision3.jnlp                      http://phet.colorado.edu/sims/color-vision/color-vision.jnlp
Redirect permanent /simulations/colorvision3/colorvision3_es.jnlp                   http://phet.colorado.edu/sims/color-vision/color-vision_es.jnlp
Redirect permanent /simulations/conductivity/conductivity-pro.jar                   http://phet.colorado.edu/sims/conductivity/conductivity.jar
Redirect permanent /simulations/conductivity/conductivity.jnlp                      http://phet.colorado.edu/sims/conductivity/conductivity.jnlp
Redirect permanent /simulations/conductivity/conductivity_sp.jnlp                   http://phet.colorado.edu/sims/conductivity/conductivity_es.jnlp
Redirect permanent /simulations/dischargelamps/dischargelamps.jar                   http://phet.colorado.edu/sims/discharge-lamps/discharge-lamps.jar
Redirect permanent /simulations/dischargelamps/dischargelamps.jnlp                  http://phet.colorado.edu/sims/discharge-lamps/discharge-lamps.jnlp
Redirect permanent /simulations/electricfieldofdreams/efield.jar                    http://phet.colorado.edu/sims/efield/efield.jar
Redirect permanent /simulations/electricfieldofdreams/electricfield_sp.jnlp         http://phet.colorado.edu/sims/efield/efield_es.jnlp
Redirect permanent /simulations/electricfieldofdreams/webstart.jnlp                 http://phet.colorado.edu/sims/efield/efield.jnlp
Redirect permanent /simulations/electrichockey/ehockey.jar                          http://phet.colorado.edu/sims/electric-hockey/electric-hockey.jar
Redirect permanent /simulations/electrichockey/ehockey_sp.jnlp                      http://phet.colorado.edu/sims/electric-hockey/electric-hockey_es.jnlp
Redirect permanent /simulations/electrichockey/webstart.jnlp                        http://phet.colorado.edu/sims/electric-hockey/electric-hockey.jnlp
Redirect permanent /simulations/emf/emf.jar                                         http://phet.colorado.edu/sims/radio-waves/radio-waves.jar
Redirect permanent /simulations/emf/emf.jnlp                                        http://phet.colorado.edu/sims/radio-waves/radio-waves.jnlp
Redirect permanent /simulations/emf/emf_es.jnlp                                     http://phet.colorado.edu/sims/radio-waves/radio-waves_es.jnlp
Redirect permanent /simulations/energyconservation/ec3-pro.jar                      http://phet.colorado.edu/sims/energy-skate-park/energy-skate-park.jar
Redirect permanent /simulations/energyconservation/energy-skate-park.jar            http://phet.colorado.edu/sims/energy-skate-park/energy-skate-park.jar
Redirect permanent /simulations/energyconservation/energyconservation.jnlp          http://phet.colorado.edu/sims/energy-skate-park/energy-skate-park.jnlp
Redirect permanent /simulations/energyconservation/energyconservation_es.jnlp       http://phet.colorado.edu/sims/energy-skate-park/energy-skate-park_es.jnlp
Redirect permanent /simulations/energyconservation/energyconservation_sp.jnlp       http://phet.colorado.edu/sims/energy-skate-park/energy-skate-park_es.jnlp
Redirect permanent /simulations/equationgrapher/equationGrapher.swf                 http://phet.colorado.edu/sims/equation-grapher/equation-grapher.swf
Redirect permanent /simulations/equationgrapher/equationGrapherOld.swf              http://phet.colorado.edu/sims/equation-grapher/equation-grapher.swf
Redirect permanent /simulations/estimation/estimation.swf                           http://phet.colorado.edu/sims/estimation/estimation.swf
Redirect permanent /simulations/estimation/estimationOld.swf                        http://phet.colorado.edu/sims/estimation/estimation.swf
Redirect permanent /simulations/faraday/faraday.jar                                 http://phet.colorado.edu/sims/faraday/faraday.jar
Redirect permanent /simulations/faraday/faraday.jnlp                                http://phet.colorado.edu/sims/faraday/faraday.jnlp
Redirect permanent /simulations/faraday/faraday_es.jnlp                             http://phet.colorado.edu/sims/faraday/faraday_es.jnlp
Redirect permanent /simulations/faraday/faraday_sp.jnlp                             http://phet.colorado.edu/sims/faraday/faraday_es.jnlp
Redirect permanent /simulations/faradayFlash/faradayMX.swf                          http://phet.colorado.edu/sims/faraday-mx/faraday-mx.swf
Redirect permanent /simulations/force1d/force1d.jar                                 http://phet.colorado.edu/sims/forces-1d/forces-1d.jar
Redirect permanent /simulations/force1d/force1d.jnlp                                http://phet.colorado.edu/sims/forces-1d/forces-1d.jnlp
Redirect permanent /simulations/force1d/force1d_es.jnlp                             http://phet.colorado.edu/sims/forces-1d/forces-1d_es.jnlp
Redirect permanent /simulations/fourier/fourier.jar                                 http://phet.colorado.edu/sims/fourier/fourier.jar
Redirect permanent /simulations/fourier/fourier.jnlp                                http://phet.colorado.edu/sims/fourier/fourier.jnlp
Redirect permanent /simulations/fourier/fourier_es.jnlp                             http://phet.colorado.edu/sims/fourier/fourier_es.jnlp
Redirect permanent /simulations/friction/friction.swf                               http://phet.colorado.edu/sims/friction/friction.swf
Redirect permanent /simulations/gasses-buoyancy/buoyancy.jnlp                       http://phet.colorado.edu/sims/ideal-gas/balloons-and-buoyancy.jnlp
Redirect permanent /simulations/gasses-buoyancy/buoyancy_es.jnlp                    http://phet.colorado.edu/sims/ideal-gas/balloons-and-buoyancy_es.jnlp
Redirect permanent /simulations/gasses-buoyancy/diffusion.jnlp                      http://phet.colorado.edu/sims/ideal-gas/diffusion.jnlp
Redirect permanent /simulations/gasses-buoyancy/ideal-gas.jar                       http://phet.colorado.edu/sims/ideal-gas/gas-properties.jar
Redirect permanent /simulations/gasses-buoyancy/idealgas-save.jar                   http://phet.colorado.edu/sims/ideal-gas/gas-properties.jar
Redirect permanent /simulations/gasses-buoyancy/idealgas.jar                        http://phet.colorado.edu/sims/ideal-gas/gas-properties.jar
Redirect permanent /simulations/gasses-buoyancy/idealgas.jnlp                       http://phet.colorado.edu/sims/ideal-gas/gas-properties.jnlp
Redirect permanent /simulations/gasses-buoyancy/idealgas_es.jnlp                    http://phet.colorado.edu/sims/ideal-gas/gas-properties_es.jnlp
Redirect permanent /simulations/gasses-buoyancy/pchem.jnlp                          http://phet.colorado.edu/sims/ideal-gas/reversible-reactions.jnlp
Redirect permanent /simulations/greenhouse/greenhouse-save.jar                      http://phet.colorado.edu/sims/greenhouse/greenhouse.jar
Redirect permanent /simulations/greenhouse/greenhouse-save2.jar                     http://phet.colorado.edu/sims/greenhouse/greenhouse.jar
Redirect permanent /simulations/greenhouse/greenhouse.jar                           http://phet.colorado.edu/sims/greenhouse/greenhouse.jar
Redirect permanent /simulations/greenhouse/greenhouse.jnlp                          http://phet.colorado.edu/sims/greenhouse/greenhouse.jnlp
Redirect permanent /simulations/greenhouse/greenhouse_es.jnlp                       http://phet.colorado.edu/sims/greenhouse/greenhouse_es.jnlp
Redirect permanent /simulations/hydrogen-atom/hydrogen-atom.jar                     http://phet.colorado.edu/sims/hydrogen-atom/hydrogen-atom.jar
Redirect permanent /simulations/hydrogen-atom/hydrogen-atom.jnlp                    http://phet.colorado.edu/sims/hydrogen-atom/hydrogen-atom.jnlp
Redirect permanent /simulations/hydrogen-atom/hydrogen-atom_es.jnlp                 http://phet.colorado.edu/sims/hydrogen-atom/hydrogen-atom_es.jnlp
Redirect permanent /simulations/lasers/lasers.jar                                   http://phet.colorado.edu/sims/lasers/lasers.jar
Redirect permanent /simulations/lasers/lasers.jnlp                                  http://phet.colorado.edu/sims/lasers/lasers.jnlp
Redirect permanent /simulations/lasers/lasers_es.jnlp                               http://phet.colorado.edu/sims/lasers/lasers_es.jnlp
Redirect permanent /simulations/lens/lens.swf                                       http://phet.colorado.edu/sims/lens/lens.swf
Redirect permanent /simulations/lens/lensOld.swf                                    http://phet.colorado.edu/sims/lens/lens.swf
Redirect permanent /simulations/lunarLander/lunarlander.swf                         http://phet.colorado.edu/sims/lunar-lander/lunar-lander.swf
Redirect permanent /simulations/lunarLander/lunarlanderOld.swf                      http://phet.colorado.edu/sims/lunar-lander/lunar-lander.swf
Redirect permanent /simulations/massspringlab/MassSpringLab2.swf                    http://phet.colorado.edu/sims/mass-spring-lab/mass-spring-lab.swf
Redirect permanent /simulations/mazegame/mazegame-pro.jar                           http://phet.colorado.edu/sims/maze-game/maze-game.jar
Redirect permanent /simulations/mazegame/mazegame_es.jnlp                           http://phet.colorado.edu/sims/maze-game/maze-game_es.jnlp
Redirect permanent /simulations/mazegame/webstart.jnlp                              http://phet.colorado.edu/sims/maze-game/maze-game.jnlp
Redirect permanent /simulations/microwaves/microwaves-save.jar                      http://phet.colorado.edu/sims/microwaves/microwaves.jar
Redirect permanent /simulations/microwaves/microwaves.jar                           http://phet.colorado.edu/sims/microwaves/microwaves.jar
Redirect permanent /simulations/microwaves/microwaves.jnlp                          http://phet.colorado.edu/sims/microwaves/microwaves.jnlp
Redirect permanent /simulations/microwaves/microwaves_es.jnlp                       http://phet.colorado.edu/sims/microwaves/microwaves_es.jnlp
Redirect permanent /simulations/molecular-reactions/molecular-reactions.jar         http://phet.colorado.edu/sims/reactions-and-rates/reactions-and-rates.jar
Redirect permanent /simulations/molecular-reactions/molecular-reactions.jnlp        http://phet.colorado.edu/sims/reactions-and-rates/reactions-and-rates.jnlp
Redirect permanent /simulations/molecular-reactions/molecular-reactions_es.jnlp     http://phet.colorado.edu/sims/reactions-and-rates/reactions-and-rates.jnlp
Redirect permanent /simulations/molecular-reactions/mr-pro.jar                      http://phet.colorado.edu/sims/reactions-and-rates/reactions-and-rates.jar
Redirect permanent /simulations/motion2d/motion2d-pro.jar                           http://phet.colorado.edu/sims/motion-2d/motion-2d.jar
Redirect permanent /simulations/motion2d/motion2d.jnlp                              http://phet.colorado.edu/sims/motion-2d/motion-2d.jnlp
Redirect permanent /simulations/motion2d/motion2d_es.jnlp                           http://phet.colorado.edu/sims/motion-2d/motion-2d_es.jnlp
Redirect permanent /simulations/movingman-old/movingman.jar                         http://phet.colorado.edu/sims/moving-man/moving-man.jar
Redirect permanent /simulations/movingman-old/movingman.jnlp                        http://phet.colorado.edu/sims/moving-man/moving-man.jnlp
Redirect permanent /simulations/movingman/movingman-pro.jar                         http://phet.colorado.edu/sims/moving-man/moving-man.jar
Redirect permanent /simulations/movingman/movingman.jnlp                            http://phet.colorado.edu/sims/moving-man/moving-man.jnlp
Redirect permanent /simulations/movingman/movingman_es.jnlp                         http://phet.colorado.edu/sims/moving-man/moving-man_es.jnlp
Redirect permanent /simulations/mri/mri.jar                                         http://phet.colorado.edu/sims/mri/mri.jar
Redirect permanent /simulations/mri/mri.jnlp                                        http://phet.colorado.edu/sims/mri/mri.jnlp
Redirect permanent /simulations/mri/mri_es.jnlp                                     http://phet.colorado.edu/sims/mri/mri_es.jnlp
Redirect permanent /simulations/nuclearphysics/nuclearphysics.jar                   http://phet.colorado.edu/sims/nuclear-physics/nuclear-physics.jar
Redirect permanent /simulations/nuclearphysics/nukes.jnlp                           http://phet.colorado.edu/sims/nuclear-physics/nuclear-physics.jnlp
Redirect permanent /simulations/nuclearphysics/nukes_es.jnlp                        http://phet.colorado.edu/sims/nuclear-physics/nuclear-physics_es.jnlp
Redirect permanent /simulations/ohm1d/ohm1d.jar                                     http://phet.colorado.edu/sims/ohm-1d/ohm-1d.jar
Redirect permanent /simulations/ohm1d/ohm1d_es.jnlp                                 http://phet.colorado.edu/sims/ohm-1d/ohm-1d_es.jnlp
Redirect permanent /simulations/ohm1d/webstart.jnlp                                 http://phet.colorado.edu/sims/ohm-1d/ohm-1d.jnlp
Redirect permanent /simulations/orbits/orbits.swf                                   http://phet.colorado.edu/sims/my-solar-system/my-solar-system.swf
Redirect permanent /simulations/orbits/orbitsOld.swf                                http://phet.colorado.edu/sims/my-solar-system/my-solar-system.swf
Redirect permanent /simulations/photoelectric/photoelectric.jar                     http://phet.colorado.edu/sims/photoelectric/photoelectric.jar
Redirect permanent /simulations/photoelectric/photoelectric.jnlp                    http://phet.colorado.edu/sims/photoelectric/photoelectric.jnlp
Redirect permanent /simulations/projectilemotion/projectile.swf                     http://phet.colorado.edu/sims/projectile-motion/projectile-motion.swf
Redirect permanent /simulations/projectilemotion/projectileOlder.swf                http://phet.colorado.edu/sims/projectile-motion/projectile-motion.swf
Redirect permanent /simulations/projectilemotion/projectileOldest.swf               http://phet.colorado.edu/sims/projectile-motion/projectile-motion.swf
Redirect permanent /simulations/quantum-tunneling/quantum-tunneling.jnlp            http://phet.colorado.edu/sims/quantum-tunneling/quantum-tunneling.jnlp
Redirect permanent /simulations/quantum-tunneling/quantum-tunneling_es.jnlp         http://phet.colorado.edu/sims/quantum-tunneling/quantum-tunneling_es.jnlp
Redirect permanent /simulations/quantum-tunneling/quantumtunneling.jar              http://phet.colorado.edu/sims/quantum-tunneling/quantum-tunneling.jar
Redirect permanent /simulations/rhola/rRhoLA2.swf                                   http://phet.colorado.edu/sims/resistance-in-a-wire/resistance-in-a-wire.swf
Redirect permanent /simulations/rutherford-scattering/rutherford-scattering.jar     http://phet.colorado.edu/sims/rutherford-scattering/rutherford-scattering.jar
Redirect permanent /simulations/rutherford-scattering/rutherford-scattering.jnlp    http://phet.colorado.edu/sims/rutherford-scattering/rutherford-scattering.jnlp
Redirect permanent /simulations/rutherford-scattering/rutherford-scattering_es.jnlp http://phet.colorado.edu/sims/rutherford-scattering/rutherford-scattering_es.jnlp
Redirect permanent /simulations/schrodinger/dg-pro.jar                              http://phet.colorado.edu/sims/quantum-wave-interference/davisson-germer.jar
Redirect permanent /simulations/schrodinger/dg.jnlp                                 http://phet.colorado.edu/sims/quantum-wave-interference/davisson-germer.jnlp
Redirect permanent /simulations/schrodinger/dg_es.jnlp                              http://phet.colorado.edu/sims/quantum-wave-interference/davisson-germer.jnlp
Redirect permanent /simulations/schrodinger/qwi-pro.jar                             http://phet.colorado.edu/sims/quantum-wave-interference/quantum-wave-interference.jar
Redirect permanent /simulations/schrodinger/schrodinger.jnlp                        http://phet.colorado.edu/sims/quantum-wave-interference/quantum-wave-interference.jnlp
Redirect permanent /simulations/schrodinger/schrodinger_es.jnlp                     http://phet.colorado.edu/sims/quantum-wave-interference/quantum-wave-interference.jnlp
Redirect permanent /simulations/sdpm/particles.jar                                  http://phet.colorado.edu/sims/self-driven-particle-model/self-driven-particle-model.jar
Redirect permanent /simulations/sdpm/particles.jnlp                                 http://phet.colorado.edu/sims/self-driven-particle-model/self-driven-particle-model.jnlp
Redirect permanent /simulations/semiconductor/semiconductor.jar                     http://phet.colorado.edu/sims/semiconductor/semiconductor.jar
Redirect permanent /simulations/semiconductor/semiconductor.jnlp                    http://phet.colorado.edu/sims/semiconductor/semiconductor.jnlp
Redirect permanent /simulations/semiconductor/semiconductor_es.jnlp                 http://phet.colorado.edu/sims/semiconductor/semiconductor_es.jnlp
Redirect permanent /simulations/shaper/shaper.jar                                   http://phet.colorado.edu/sims/optical-quantum-control/optical-quantum-control.jar
Redirect permanent /simulations/shaper/shaper.jnlp                                  http://phet.colorado.edu/sims/optical-quantum-control/optical-quantum-control.jnlp
Redirect permanent /simulations/shaper/shaper_es.jnlp                               http://phet.colorado.edu/sims/optical-quantum-control/optical-quantum-control_es.jnlp
Redirect permanent /simulations/signalcircuit/signalCircuit.jar                     http://phet.colorado.edu/sims/signal-circuit/signal-circuit.jar
Redirect permanent /simulations/signalcircuit/signalcircuit.jar                     http://phet.colorado.edu/sims/signal-circuit/signal-circuit.jar
Redirect permanent /simulations/signalcircuit/signalcircuit.jnlp                    http://phet.colorado.edu/sims/signal-circuit/signal-circuit.jnlp
Redirect permanent /simulations/signalcircuit/signalcircuit_es.jnlp                 http://phet.colorado.edu/sims/signal-circuit/signal-circuit_es.jnlp
Redirect permanent /simulations/signalcircuit/webstart.jnlp                         http://phet.colorado.edu/sims/signal-circuit/signal-circuit.jnlp
Redirect permanent /simulations/soluble-salts/soluble-salts.jnlp                    http://phet.colorado.edu/sims/soluble-salts/soluble-salts.jnlp
Redirect permanent /simulations/soluble-salts/soluble-salts_es.jnlp                 http://phet.colorado.edu/sims/soluble-salts/soluble-salts_es.jnlp
Redirect permanent /simulations/soluble-salts/solublesalts-save.jar                 http://phet.colorado.edu/sims/soluble-salts/soluble-salts.jar
Redirect permanent /simulations/soluble-salts/solublesalts.jar                      http://phet.colorado.edu/sims/soluble-salts/soluble-salts.jar
Redirect permanent /simulations/sound/sound.jar                                     http://phet.colorado.edu/sims/sound/sound.jar
Redirect permanent /simulations/sound/sound.jnlp                                    http://phet.colorado.edu/sims/sound/sound.jnlp
Redirect permanent /simulations/sound/sound_es.jnlp                                 http://phet.colorado.edu/sims/sound/sound_es.jnlp
Redirect permanent /simulations/sterngerlach/SG_1.swf                               http://phet.colorado.edu/sims/stern-gerlacher/stern-gerlach.swf
Redirect permanent /simulations/stringwave/stringWave.swf                           http://phet.colorado.edu/sims/string-wave/string-wave.swf
Redirect permanent /simulations/stringwave/stringWaveOld.swf                        http://phet.colorado.edu/sims/string-wave/string-wave.swf
Redirect permanent /simulations/theramp/theramp-pro.jar                             http://phet.colorado.edu/sims/the-ramp/the-ramp.jar
Redirect permanent /simulations/theramp/theramp.jnlp                                http://phet.colorado.edu/sims/the-ramp/the-ramp.jnlp
Redirect permanent /simulations/travoltage/travoltage-pro.jar                       http://phet.colorado.edu/sims/travoltage/travoltage.jar
Redirect permanent /simulations/travoltage/travoltage_es.jnlp                       http://phet.colorado.edu/sims/travoltage/travoltage_es.jnlp
Redirect permanent /simulations/travoltage/webstart.jnlp                            http://phet.colorado.edu/sims/travoltage/travoltage.jnlp
Redirect permanent /simulations/vectormath/vectorMath.swf                           http://phet.colorado.edu/sims/vector-math/vector-math.swf
Redirect permanent /simulations/vectormath/vectorMathOlder.swf                      http://phet.colorado.edu/sims/vector-math/vector-math.swf
Redirect permanent /simulations/vectormath/vectorMathOldest.swf                     http://phet.colorado.edu/sims/vector-math/vector-math.swf
Redirect permanent /simulations/veqir/VeqIRColored.swf                              http://phet.colorado.edu/sims/veqir/veqir.swf
Redirect permanent /simulations/waveinterference/waveinterference-pro.jar           http://phet.colorado.edu/sims/wave-interference/wave-interference.jar
Redirect permanent /simulations/waveinterference/waveinterference.jnlp              http://phet.colorado.edu/sims/wave-interference/wave-interference.jnlp
Redirect permanent /simulations/waveinterference/waveinterference_sp.jnlp           http://phet.colorado.edu/sims/wave-interference/wave-interference_es.jnlp
# ... more goes here ...

# Redirect all other simulations
# Hold off on these until the Flash sims have been localizied
##RedirectMatch permanent ^/simulations/(.*\.jar) http://phet.colorado.edu/sims/$1
##RedirectMatch permanent ^/simulations/(.*\.jnlp) http://phet.colorado.edu/sims/$1
##RedirectMatch permanent ^/simulations/(.*\.png) http://phet.colorado.edu/sims/$1
##RedirectMatch permanent ^/simulations/(.*\.swf) http://phet.colorado.edu/sims/$1
