@charset "UTF-8";

ul.menu,
ul.menu li,
ul.menu ul {
 list-style: none;
 margin: 0;
 padding: 0;
}

ul.menu {
 position: relative;
 z-index: 597;
 float: left;
}

ul.menu li {
 float: left;
 line-height: 1.3em;
 vertical-align: middle;
 zoom: 1;
}

ul.menu li.hover,
ul.menu li:hover {
 position: relative;
 z-index: 599;
 cursor: default;
}

ul.menu ul {
 visibility: hidden;
 position: absolute;
 top: 100%;
 left: 0;
 z-index: 598;
 width: 100%;
}

ul.menu ul li {
 float: none;
}

ul.menu ul ul {
 top: 1px;
 left: 99%;
}
ul.menu ul ul ul {
 top: 0px;
}
ul.menu ul ul ul ul {
 top: 0px;
}


ul.menu li:hover > ul {
 visibility: visible;
}



ul.menu {
 font-weight: bold;
}

	ul.menu li {
	}

	ul.menu li li {
		background: #444;
	}

	ul.menu a:link,
	ul.menu a:visited	{ color: #fff; text-decoration: none; }
	ul.menu a:hover		{ color: #fff; }
	ul.menu a:active	{ color: #fff; }


	/* -- level mark -- */

	ul.menu ul {
	 min-width: 150px;
	 margin-top: 0;
	}

		ul.menu ul li {
		 font-weight: normal;
		}
/*-------------------------------------------------/
 * @section		Support Class `dir`
 * @level sep	ul, .class
 */
ul.menu  li.current-cat {
	 background: #000;
	 border-style: solid;
	 border-width: 0 1px 0 0;
	 border-color: #333 #fff #333;
	 background-color: #000;
	 color: #fff;
}


/* -- Components override -- */

ul.menu-horizontal ul *.dir {
 padding-right: 15px;
 background-image: url(images/nav-arrow-right.png);
 background-position: 100% 50%;
 background-repeat: no-repeat;
}

ul.menu-upward *.dir {
 background-image: url(images/nav-arrow-top.png);
}

ul.menu-vertical *.dir,
ul.menu-upward ul *.dir {
 background-image: url(images/nav-arrow-right.png);
}

ul.menu-vertical-rtl *.dir {
 padding-right: 10px;
 padding-left: 15px;
 background-image: url(images/nav-arrow-left.png);
 background-position: 0 50%;
}

		