td.number-of-translations {
    text-align: center;
}

.translated-sims table {
    position: relative;
    width: 505px;
    left: 10px;
}

.translated-sims tr.highlight-background {
    background-color: #eeeeee;
}

.translated-sims .t-header td {
    font-weight: bold;
}

.translated-sims td {
    padding: 2px;
}