/*==========================================================================*/
/*Author's custom styles*/
/*==========================================================================*/

.footer {
    position: absolute;
    top: 0;
    left: 0;
}

.play-area {
    z-index: -1;
}

.ui-controlgroup .ui-controlgroup-controls {
    width: 100%;
}

.control-panel {
    position: absolute;
    right: 10px; /*Prevent scroll bars.  This line was probably necessary after changing the default font in the buttons*/
    top: 40px;
    width: 20%;
    max-width: 200px;
}

.footer {
    overflow: hidden; /* add this to contain floated children */
}

.speed-buttons {
    width: 300px;
    float: left; /* add this */
    border: 1px solid red;
}

.play-pause-button {
    border: 1px solid green;
    float: left; /* add this */
}