
#query_type {
	padding-bottom: 10px;
}

#debug {
	font-size: 10px;
	padding-bottom: 10px;
}

.constraint {
	/*line-height: 200%;*/
	padding: 5px;
	
	/*float: left;*/
}

#content {
	max-width: 900px;
	font-size: 12px;
}

#formcontrols {
	clear: left;
}

