/*****************************************************************
 * 
 *  tdStyles.css
 *  
 *  This file contains all CSS styles for tdAutoSelectBox formatting.
 *  You may copy these into your site's CSS file, and style as desired.
 *  
 *  However, any alterations are your own responsiblity, and is considered
 *  to be a modification of the Software.  Tetraktys Development cannot
 *  offer support for errors or problems caused by a modification to the
 *  code or to the CSS styles.  Generally speaking, changing the font-family
 *  and font-size, and color, should not cause issues.
 *  
 *  In any event, if these styles are not present on the page in which
 *  the tdAutoSelectBox code is to run, serious display issues may occure.
 *  If you are having display issues, make sure you page correctly imports
 *  these Styles.
 *
 *****************************************************************/


/* styles the drop down select box */
.autoSelectDiv {
    display: none;
    position: absolute;
    float: left;
    border: 1px solid #AAAAAA;
    border-top: 0px;
    background: #FFFFFF;
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-size: 11px;
    margin: 0;
    padding: 0;
    overflow:auto;
    z-index: +2; /* adjust the z-index if other javascript windows or menus are interfering */
    filter: progid:DXImageTransform.Microsoft.Shadow(direction=135,color=#444444,strength=5);
    /* remove this filter if you do not want a drop shadow */
    /* Also note: the drop-shadow only works on Internet Explorer */
}

/* styles the input text box */
.autoSelectTextBox {
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 2px;
    padding-bottom: 0px;
    padding-top: 1px;
    border: 1px solid #AAAAAA;
    border-right: 0px;
}

/* the image for the selet box's down pointing arrow 
 * If you are using a different image, or put it in
 * a different location, change it here.
*/
.autoSelectDropImage {
    background: url(selectdownarrow.gif) no-repeat;
    background-position: right bottom;
    width: 17px;
    height: 18px;
    position: absolute;
    cursor: pointer;
}

/* the internal table that holds the values in the drop down box */
.autoSelectTable {
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-size: 12px;
    width: 0px; /* this is set dyanically in the code. */
    height: 0px; /* this is set dyanically in the code. */
}

/* styles the cells within the selectTable */
.autoSelectTable td {
    padding: 1px;
    margin: 0px;
    text-align: left;
}

/* the style for each row of data in the drop down box */
/* you should style the colors to match your site */
.autoSelectRowOn {
    font-family: Verdana, Tahoma, Arial, sans-serif;
    background-color: #CCCCCC;
    color: #000000;
    cursor: pointer;
}

/* the style for the drop down box when the mouse hovers over the selection  */
/* you should style the colors to match your site */
.autoSelectRowOff {
    font-family: Verdana, Tahoma, Arial, sans-serif;
    background-color: #FFFFFF;
    color: #000000;
    cursor: default;
}


/* style for the outer multi-select box */
.outerMultiSelectTable {
    position: relative;
    height: 16px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-collapse: collapse;
    left: -2px; /* adjust to suit possitioning under the Select Box */
}

/* the add and del buttons are in this cell.  Adjust to suit.  */
.outerMultiSelectTable td {
    margin: 0px;
    padding-top: 5px;
    padding-left: 6px;
    padding-right: 0px;
    padding-bottom: 0px;
}


/* style for the multi-select box */
.multiSelectTable {
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    border: 1px solid #AAAAAA;
    border-collapse: collapse;
}
/* styles the cells within the multiSelectTable */
.multiSelectTable td {
    padding: 1px;
    margin: 0px;
    vertical-align: top;
    text-align: left;
}

/* this style is used to hide the checkboxes inside the multibox */
/* to actually show check boxes, remove the display: none */
.multiCheckBoxHidden {
    display: none;
}

/* styles the rows of data in the multi-box when an item is selected */
.multiRowChecked td {
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-size: 12px;
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;
}

/* styles the rows of data in the multi-box when an item is un-selected */
.multiRowUnchecked td {
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-size: 12px;
    background-color: #FFFFFF;
    color: #888888;
    text-decoration: line-through;
    cursor: pointer;
}

/* use this to possition the add/del buttons more exactly */
.multiBoxButton {
    position: relative;
    top:-24px;
    left:+4px;
    float: right;
    font-size: 11px;
}

/* As above, but for Opera, since Opera is goofy */
.multiBoxButtonOpera {
    position: relative;
    float: right;
    left:+4px;
    font-size: 11px;
}