.contribution-search .simulations {
    width: 265px;
    padding: 0;
    margin: 0;
}

.contribution-search .types {
    width: 100px;
    padding: 0;
    margin: 0;
}

.contribution-search .levels {
    width: 100px;
    padding: 0;
    margin: 0;
}

.contribution-search .locales {
    width: 180px;
    padding: 0;
    margin: 0;
}

.contribution-search-header {
    text-align: left;
}

div.rtl .contribution-search-header {
    text-align: right;
}

.contribution-text-submit-row {
    text-align: right;
}

div.rtl .contribution-text-submit-row {
    text-align: left;
}

.contribution-browse-table {
/* overridden in ie6 fixes */
    width: 100%;
}