img.spons {
    float: left;
    margin: 0 3px 0 0;
}

a img.spons {
    border: medium none;
}

#spons {
    margin-top: 15px;
    font-size: 12px;
}

#spons div.principalSponsors {
    color: #0d2973;
    font-size: 14px;
    margin: 1ex 0;
    padding: 0;
    font-weight: bold;
}

#spons div.header {
    width: 178px;
    height: 8px;
    background-color: transparent;
    background-image: url(../images/relatedLinks_BG.gif);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: bottom left;
    padding: 0;
    margin: 0 auto;
    border: medium none;
}

#spons div.sponsors-fake-dl {
    width: 158px;
    background-image: url(../images/relatedLinksBTTM_BG.gif);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: bottom left;
    background-color: #d8eaf4;
    font-size: 0.9em;
    padding: 0 10px 10px;
    margin: 0 auto;
    border: medium none;
}

#spons div.sponsors-fake-dt, #spons div.sponsors-fake-dd {
    margin: 0;
    padding: 0 0 4px 18px;
}

#spons div.sponsors-fake-dd {
    border-bottom: 1px solid #cccccc;
    color: #313131;
    line-height: 1.2em;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

#spons div.sponsors-fake-dd a:hover {
    color: #cc6600;
}

#spons div.sponsors-fake-dt a, #spons div.sponsors-fake-dd a {
    color: #294ca8;
    font-weight: bold;
    text-decoration: underline;
}

#spons div.sponsors-fake-dt {
    background-color: transparent;
    background-image: url(../images/circleArrow_Icon.gif);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: left 3px;
}

.other-sponsors-holder {
    margin: 10px auto 0;
    height: 24px;
}

.other-sponsors-table {
    margin: 0 auto;
    height: 24px;
    padding: 0;
}

.other-sponsors-table tr {
    margin: 0;
    padding: 0;
}

.other-sponsors-table td {
    padding: 0;
}

.other-sponsors-middle {
    text-align: center;
    vertical-align: middle;
    height: 24px;
    background-image: url(../images/small-button-middle.gif);
}

#spons a#sponsors-panel-link {
    height: 24px;
    font-size: 10px;
    line-height: 19px;
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 2px;
    padding-right: 2px;
}

.other-sponsors-left {
    padding: 0;
    width: 5px;
    height: 24px;
    background-image: url(../images/small-button-left.gif);
}

.other-sponsors-right {
    padding: 0;
    width: 5px;
    height: 24px;
    background-image: url(../images/small-button-right.gif);
}


/* Sponsors page stuff */

#sponsors-people ul {
    margin-top: 10px;
    font-size: 15px;
    padding: 0;
    margin-left: 2em;
    margin-right: 2em;
}

#sponsors-people ul li {
    position: relative;
    border-bottom: 1px solid #E3E3E3;
    clear: right;
}

div.rtl #sponsors-people ul li {
    clear: left;
    /*zoom: 1;*/
}

#sponsors-people ul li.simple {
    position: relative;
    border-bottom: none;
    clear: right;
}

div.rtl #sponsors-people ul li.simple {
    clear: left;
}

#sponsors-people ul li.platinum,#sponsors-people ul li.gold {
    font-size: 14px;
    position: relative;
    border-bottom: 1px solid #E3E3E3;
    background: none;
    padding: 10px 0 30px 0;
}

#sponsors-people img.spons {
    float: right;
    margin-bottom: 1em;
}

div.rtl #sponsors-people img.spons {
    float: left;
}

#sponsors-people img.bordered_spons {
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    float: right;
    margin-bottom: 1em;
}

div.rtl #sponsors-people img.bordered_spons {
    float: left;
}