body {
    background-color: #fff;
    font-family: "arial", Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

/******** defaults ********/
h1,h2,h3,h4,h5,h6 {
    font-size: 14px;
    margin: 0;
    padding: 0;
    margin-top: 1ex;
    margin-bottom: 1ex;
}

h1:first-child,h1.first-child {
    margin-top: 0;
    padding-top: 0;
    width: 578px;
}

h1 {
    color: #c60;
    font-size: 18px;
}

h2 {
    color: #15337f;
    font-size: 16px;
}

p,*.p-indentation {
    line-height: 19px;
    color: #000;
    padding-left: 0;
    padding-right: 0;
    margin-left: 2em;
    margin-right: 2em;
}

p.openingParagraph {
    color: #458407;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.3em;
    margin: 0;
    padding: 0 0 16px 0;
}

p.footnote {
    line-height: 1em;
    margin: 0;
    padding: 0;
    padding-left: 1ex;
    padding-right: 1ex;
    font: italic 11px Verdana, Arial, Helvetica, sans-serif;
}

fieldset {
    width: auto;
    margin: 1ex 2em 1ex 2em;
}

input,textarea,select {
    background: rgb(220, 220, 220);
}

.clear {
    clear: both;
}

*.example {
    font-size: 10px;
    font-style: italic;
}

a img {
    border: none;
}

table thead tr td {
    font-weight: bold;
}

td {
    padding: 0.5ex;
}

hr {
    border-collapse: collapse;
    border: 0;
    background-color: #ccc;
}

.inlineImage {
    border: solid 2px #5476d2;
    float: left;
    margin: 5px 12px 0 0;
    padding: 0;
}

#simratinglegend table {
    border-collapse: collapse;
    margin: 1ex 2em 1ex 2em;
}

#simratinglegend td {
    padding-bottom: 2em;
}

/*#simratinglegend table tbody tr td:first-child {
background-color: white;
}
*/
.simcategory {
    padding-left: 2em;
    padding-right: 2em;
}

#nationalstandards {
    clear: both;
}

#nationalstandards table {
    border-style: none;
    border: 0;
    margin: 1em;
    padding: 0;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

#nationalstandards table thead td,#nationalstandards table tbody td {
    border-style: none;
    background-color: transparent;
    text-align: center;
    vertical-align: top;
}

#nationalstandards table thead {
    font-weight: bold;
}

#nationalstandards table thead tr td+td,#nationalstandards table thead tr td+td+td,#nationalstandards table thead tr td+td+td+td,#nationalstandards table thead tr td+td+td+td+td,#nationalstandards table thead tr td+td+td+td+td+td
    {
    font-weight: bold;
    border-bottom: solid 1px #ccc;
}

#nationalstandards table tbody tr td:first-child,#nationalstandards table thead tr td:first-child
    {
    font-weight: bold;
    text-align: right;
    border-right: solid 1px #ccc;
}

#nationalstandards table thead tr:first-child td:first-child {
    border-right: none;
}

.validation-success {
    font-size: 9pt;
    color: gray;
}

.validation-failure {
    font-size: 9pt;
    color: red;
}

/******** =skipNav ********/
#skipNav {
    position: absolute;
    left: -9999px;
    width: 9000px;
    font-size: 1px;
    letter-spacing: -1px;
}

/******** =container ********/
#container {
    margin: 0 auto;
    padding: 0;
    width: 900px;
}

/******** =container-wide ********/ /*
This specialty container is to work around a problem with IE6 and
the translations.php page.  The transltions table goes beyond the
container and it the whole thing gets bumped down beneath the
navbar.  This needs to be bigger than the table, the exact numbers
depend on the table, which may grow in the future.  Also, setting
the width will force the width to be that size, leaving blank space
on the right edge, which is also undesirable.  Find some intermediate
point that will allow for expansion without being obnoxious.

TODO: Right now this is 1 solution for all browsers, isolate this problem for just IE6 if ever we do specalized css files for the different browsers.

There is a very good page talking about his problem with IE6:
   http://www.positioniseverything.net/explorer/expandingboxbug.html
*/
#container-wide {
    margin: 0 auto;
    padding: 0;
    width: 1250px;
}

/******** =header ********/
#header {
    background: url("../images/header_BG.gif") left top repeat-x;
    /*background-color:#2345a1;*/
    height: 127px;
    margin: 0;
    padding: 0;
}

#header a {
    text-decoration: none;
}

#headerContainer {
    height: 127px;
    margin: 0 auto;
    width: 765px;
}

#headerContainer div.images {
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
}

#headerContainer span {
    margin: 0;
    padding: 0;
}

#headerContainer div.logo {
    width: 242px;
    height: 127px;
    position: absolute;
    top: 0;
    left: 0;
}

#headerContainer div.title {
    width: 400px;
    height: 127px;
    position: absolute;
    top: 0;
    right: 0;
}

#quicksearch {
    font-size: 8pt;
    color: gray;
    position: absolute;
    top: 84px;
    right: 0;
    /* TODO: Create a CSS file for IE and add this to it (does it even work?) */
    /*left: expression(parentNode.offsetWidth - this.offsetWidth + 0 + 'px');*/
}

#quicksearch fieldset {
    margin: 0;
    padding: 0;
    border-style: none;
}

#quicksearch fieldset span {
    color: white;
}

#quicksearch fieldset input {
    background-color: white;
}

/* -------- mainNav -------- */
#headerContainer div.mainNav {
    background: url("../images/mainNavLeftTest_BG.gif") left top no-repeat;
    background-color: #32386f;
    float: right;
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    top: 89px;
    margin-left: 420px;
    padding: 0;
}

#headerContainer div.mainNav ul {
    background: url("../images/mainNavRightTest_BG.gif") right top no-repeat
        ;
    margin: 0;
    padding: 6px 0;
}

#headerContainer div.mainNav ul li {
    display: inline;
    margin: 0;
    padding: 10px;
}

#headerContainer div.mainNav ul li a {
    color: white;
    padding: 0 0 18px 0;
}

#headerContainer div.mainNav ul li a:hover {
    background: url("../images/mainNavArrow.gif") center bottom no-repeat;
    color: #ffa025;
}

#headerContainer div.mainNav ul li.selected a {
    background: url("../images/mainNavArrow.gif") center bottom no-repeat;
    color: #ffa025;
}

div.form_content {
    padding: 0;
    margin: 1ex;
    margin-left: 1em;
    border-style: none;
}

*.field {
    clear: right;
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0.5ex 0 0.5ex 0;
}

*.field *.label {
    width: 25%;
    font-weight: bold;
}

*.field *.label_content {
    clear: right;
    float: right;
    width: 75%;
}

*.field *.label_content input,*.field *.label_content select,*.field *.label_content textarea {
    position: relative;
    top: -1ex;
}

/* For table-based forms */
table.form {
    width: 100%;
}

/*table.form tr td {
width: 100%;
}
*/
table.form p {
    padding: 0;
    margin: 0;
}

table.form tr td {
    width: 70%;
    vertical-align: top;
    padding-top: 0.75ex;
    padding-bottom: 0.75ex;
}

table.form tr td:first-child {
    font-weight: bold;
    width: 30%;
}

table.form tr td input,table.form tr td textarea,table.form tr td select
    {
    position: relative;
    top: -0.5ex;
}

table.form tr td input[type="submit"] {
    margin-top: 1ex;
    float: right;
}

table.form select.auto-width,table.form input.auto-width {
    width: auto;
}

table.form tr td input[type="submit"] {
    width: auto;
}

table.form td.valid {
    color: black;
}

table.form td.invalid {
    color: red;
}

table.form tr.error-message td {
    padding: 0;
}

table.form tr.error-message td p {
    padding: 0;
    margin: 0;
    padding-left: 1ex;
    font-style: italic;
    font-size: 11px;
    color: red;
    position: relative;
    top: -0.5ex;
}

table.form #forgot_password {
    text-align: center;
}

#downloadspeeds {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
}

#downloadspeeds table tr:first-child td,#downloadspeeds table tr td:first-child
    {
    font-weight: bold;
}

.button {
    clear: right;
    float: none;
    padding: 0;
    position: relative;
    margin-left: 1ex;
    margin-right: 1ex;
    margin-top: 1em;
    margin-bottom: 1em;
}

.comments {
    margin-top: 10px;
}

img.image-text {
    position: relative;
    top: 1px;
}

#browsefilter {
    margin: auto;
    padding: 0px 0px 0px 0px;
    border-style: none;
}

#browsefilter table {
    margin: 0;
    padding: 0;
    width: 578px;
}

#browsefilter table,#browsefilter thead,#browsefilter tbody {
    border-style: none;
}

#browsefilter td,#browsefilter tr {
    border-style: none;
    margin: 0;
    padding: 0;
}

#browsefilter table td select {
    margin: 0;
    padding: 0;
}

#browsefilter table td select.Simulations {
    width: 245px;
}

#browsefilter table td select.Types {
    width: 140px;
}

#browsefilter table td select.Levels {
    width: 193px;
}

#Simulations_uid,#Types_uid,#Levels_uid {
    width: 100%;
}

#browsefilter input {
    float: right;
}

.mainImage {
    padding-right: 2em;
}

div.separator {
    margin: 0;
    padding: 0;
    width: 100%;
    clear: right;
    position: relative;
    height: 5px;
}

div.horizontal_center {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

#twofacelogin {
    padding: 0;
    margin: 0;
    margin-bottom: 1em;
}

#twofacelogin table.form select,#twofacelogin table.form input {
    width: 140px;
}

#twofacelogin table.form input[type="submit"] {
    width: auto;
}

#twofacelogin table.top {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

#twofacelogin table.top td {
    margin: 0;
    padding: 0;
    vertical-align: top;
}

#twofacelogin fieldset {
    border-color: rgb(220, 220, 220);
    border-width: 1px;
    padding: 7px;
}

#twofacelogin fieldset legend {
    color: black;
    font-weight: bold;
    font-size: 10pt;
    padding-bottom: 7px;
}

/******** Contribution edit form *********/
#contributioneditform {
    width: 100%;
    margin: auto;
    padding: 0px 0px 25px 0px;
}

#contributioneditform fieldset {
    padding: 10px;
}

#contributioneditform legend {
    color: black;
    font-weight: bold;
    font-size: 14pt;
}

#contributioneditform fieldset p {
    padding: 0;
    margin: 0;
}

#contributioneditform fieldset *.multiselector {
    margin-top: 0;
    margin-bottom: 1ex;
    margin-left: 0;
    padding-left: 0;
}

/* -------- modified sliding doors on globalNav -------- */
#headerContainer div.globalNav {
    background: url("../images/globalNavLeft_BG.gif") left bottom no-repeat;
    float: right;
    margin: 0 0 10px 0;
    padding: 0 0 0 18px;
}

/******** =footer ********/
#footer {
    padding-bottom: 2em;
}

#footer p {
    color: black;
    font-size: 14px;
    clear: right;
    text-align: center;
}

#footer p a,#footer p a {
    color: #900;
}

#footer p a:hover {
    color: #666;
}

/******** =content ********/
#content {
    background: url("../images/content_BG.gif") right bottom no-repeat;
    width: 578px;
    margin: 0 0 100px 240px;
    padding: 0 0 0 0;
}

#content a {
    color: #900;
    text-decoration: none;
    font-weight: bold;
}

#content a:hover {
    color: #666;
    text-decoration: underline;
    font-weight: bold;
}

#content div.main {
    width: 578px;
    float: left;
    padding: 0;
    margin: 0;
}

#content div.full-width {
    width: 578px;
    clear: both;
    padding: 0;
    margin: 0;
}

/* Product group */
#pg {
    margin: 0px 54px 0px 0px;
    float: right;
}

#pg a.pg {
    color: blue;
    padding: 0px 3px 0px 2px;
    text-decoration: underline;
}

#pg a:hover .pg {
    color: blue;
    padding: 0px 3px 0px 2px;
    text-decoration: underline;
}

#listing_type {
    margin: 0px auto 20px 27px;
    float: left;
}

#listing_type a.listing_type {
    color: #900;
    padding: 0px 3px 0px 2px;
}

#listing_type a:hover .listing_type {
    color: #666;
    padding: 0px 3px 0px 2px;
    text-decoration: underline;
}

/* Product Listings */
#content div.productList { /*	width: 			510px;*/
    float: left;
    margin: 0 auto 0px 34px;
    padding: 0;
}

#content div.productEntry {
    width: 130px;
    height: 150px;
    overflow: hidden;
    float: left;
    margin: 0;
    padding: 5px 20px 5px 20px;
    font-size: 9pt;
}

#content div.productEntry p {
    width: 120px;
    margin: 0;
    padding: 0;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    line-height: 1.1em;
}

div.productList a {
    color: #363531;
}

/* Faux Selects */
.selectContainer {
    margin: 0 0 18px 1px;
    height: 22px;
    font-size: .91em;
}

ul.selectBox,.standardContent ul.selectBox {
    border: 1px solid #d2ccc4;
    background: #f9f9f9 url("../../images/interface/filter-select.gif")
        right top no-repeat;
}

ul.selectBox li,.standardContent ul.selectBox li {
    display: none;
    background: none;
    padding: 0;
    line-height: 12px;
}

ul.selectBox li.defaultOption,.standardContent ul.selectBox li.defaultOption
    {
    display: block;
    background: none;
    padding: 0;
    line-height: 12px;
}

ul.selectBox li a:link,ul.selectBox li a:visited,.standardContent ul.selectBox li a:link,ul.selectBox li a:visited
    {
    display: block;
    padding: 3px 2px 3px 3px;
    color: #363531;
    font-size: .9em;
    float: left;
}

ul.selectBox li a:hover,.standardContent ul.selectBox li a:hover {
    background: #DBEBF5;
    text-decoration: none;
}

ul.selectBox li.defaultOption a,.standardContent ul.selectBox li.defaultOption a
    {
    padding: 4px 2px 4px 3px;
}

ul.selectBox li.defaultOption a:hover,.standardContent ul.selectBox li.defaultOption a:hover
    {
    background: transparent;
}

/* END PRODUCT LISTING CONTENT */
li.sub {
    margin: 0px 0px 0px 8px;
}

span.sub-nav {
    font-size: 11px;
}

span.highlight {
    background: #ff6;
    padding: 3px;
}

dl a:hover {
    color: #c60;
}

div.container {
    display: block;
    overflow: hidden;
    width: 100%;
    margin: 0px -20px 0px -20px;
}

span.logo-title {
    margin: 0px 0px 0px 250px;
}

span.sub {
    margin-left: 14px;
}

#container div.simsummary p {
    padding: 0;
    margin: 0;
}

div.simupgrade {
    background-color: #fff;
    border: solid 2px #f00;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 0.8em;
}

div.simupgrade img {
    float: left;
    padding-right: 0.7em;
}

div.simupgrade p {
    padding: 0px;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

#content a.breadcrumbs {
    margin: 0px 20px 0px 0px;
    padding: 0px 0px 0px 15px;
    background: url("../images/arrow-blue.png") no-repeat 0px 1px;
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
}

#content a.breadcrumbs:hover {
    margin: 0px 20px 0px 0px;
    padding: 0px 0px 0px 15px;
    background: url("../images/arrow-blue.png") no-repeat 0px 1px;
    font-size: 10px;
    text-transform: uppercase;
    color: #2345a1;
    text-decoration: none;
    border-bottom: 1px dashed #2345a1;
}

ul.content-points {
    padding: 0;
    margin-left: 1em;
    margin-right: 1em;
}

ul.content-points li {
    background: url("../images/icon-bullet.png") no-repeat 0px 2px;
    list-style-type: none;
    margin: 0;
    padding: 0px 0px 0px 15px;
    line-height: 18px;
}

ul.content-points li span.red {
    color: #900;
}

span.red {
    color: #900;
}

ul.content-points li a:hover {
    color: #900;
}

#get_phet {
    width: 520px;
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
    background: none;
}

#get_phet caption {
    padding: 0 0 5px 0;
    font: italic 11px "arial", Verdana, Arial, Helvetica, sans-serif;
    text-align: left;
}

#get_phet table {
    border-collapse: collapse;
}

#get_phet th.nobg {
    border-top: 0;
    border-left: 0;
    border-right: 1px solid #C1DAD7;
    background: none;
}

#get_phet table p {
    margin: 0;
    padding: 0.5ex;
}

#get_phet table tr th:first-child {
    width: 12em;
}

#get_phet td.alt {
    background: #F5FAFA;
}

#get_phet td.alt p {
    color: #797268;
}

#get_phet th.spec {
    border-left: 1px solid #C1DAD7;
    border-top: 0;
    background: #fff url("../images/bullet1.gif") no-repeat;
}

#get_phet th.spec p {
    font: bold 10pt "arial", Verdana, Arial, Helvetica, sans-serif;
}

#get_phet th.spec-none {
    border-left: 1px solid #C1DAD7;
    border-top: 0;
    background: #133078;
}

#get_phet th.spec-none p {
    font: bold 10pt "arial", Verdana, Arial, Helvetica, sans-serif;
    color: #fff;
}

#get_phet th.specalt {
    border-left: 1px solid #C1DAD7;
    border-top: 0;
    background: #f5fafa url("../images/bullet2.gif") no-repeat;
}

#get_phet th.specalt p {
    font: bold 10pt "arial", Verdana, Arial, Helvetica, sans-serif;
    color: #797268;
}

#get_phet th.specalt-none {
    border-left: 1px solid #C1DAD7;
    border-top: 0;
    background: #133078;
    vertical-align: top;
}

#get_phet th.specalt-none p {
    font: bold 10pt "arial", Verdana, Arial, Helvetica, sans-serif;
    color: #fff;
}

#simsummary p {
    margin: 0;
    padding: 0;
}

#simsummary table {
    padding-bottom: 1em;
}

#simsummary table tr td {
    margin: 0;
    padding: 0;
    width: 66px;
}

#simsummary table tr td:first-child img {
    text-align: left;
}

#simsummary table tr td+td img {
    text-align: center;
}

#simsummary table tr td+td+td img {
    text-align: right;
}

p.sim-abstract {
    min-height: 165px;
}

#simratings {
    height: 40px;
    min-height: 40px;
}

#simtoolbar {
    width: 100%;
    min-height: 20px;
    height: 20px;
}

#simtoolbar span.size {
    float: left;
    font-family: "Courier New", "Times", "Arial";
    color: #000;
    font-size: 15px;
    position: relative;
    top: 4px;
}

#simtoolbar span.promote {
    float: right;
}

#simtoolbar span.promote img.stumble {
    position: relative;
    top: 3px;
}

#simpreview table {
    width: 200px;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
}

#simpreview {
    float: left;
    border: none;
    width: 300px;
    padding: 0;
    margin: 0 0 0 20px;
}

img.rating {
    margin: 0;
}

#simsummary {
    margin: 0;
    padding: 0;
    float: right;
    width: 230px;
}

#hb {
    width: 300px;
}

#indi-sim {
    background: none;
    width: 120px;
    margin: -10px 0px 0px 0px;
    padding: 0;
    border: none;
}

#simcontribbrowser {
    
}

th.spec-sim {
    border: none;
    background: #fff;
    font: 9px "arial", Verdana, Arial, Helvetica, sans-serif;
}

h2.sub {
    margin: 14px 0 10px 0px;
    padding: 0 0 4px 0;
    font-size: 90%;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000;
    border-bottom: 1px solid #333;
}

h2.sub-alone a {
    margin: 14px 0 10px 0px;
    padding: 0 0 4px 0;
    font-size: 90%;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #333;
    background: url("../images/bul-arr-org.png") no-repeat 0px 4px;
    font: 12px "arial", Verdana, Arial, Helvetica, sans-serif;
    padding: 0px 20px 0px 10px;
}

h2.sub-title {
    font-size: 100%;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000;
    font-family: "arial", Verdana, Arial, Helvetica, sans-serif;
    padding: 7px 20px 0px 0px;
}

a.main-topic {
    background: url("../images/bul-arr-org.png") no-repeat 0px 5px;
    font: 12px "arial", Verdana, Arial, Helvetica, sans-serif;
    padding: 0px 20px 0px 10px;
}

p.indi-sim {
    font-family: "arial", Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

ul.indi-sim {
    font-family: "arial", Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#content div.shortcuts {
    width: 578px;
    display: block;
    float: none;
    font-family: "arial", Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    padding: 0;
    margin: 1ex 0 1.5em 0;
    text-align: left;
    text-transform: lowercase;
    font-variant: small-caps;
}

#content div.shortcuts span.burg {
    background-image: url("../images/double-arrow.png");
    clear: right;
    width: 100%;
    margin: 10px 0px 0 5px;
    background-repeat: no-repeat;
    background-position: 0 0.5ex;
    padding-left: 15px;
}

#browseresults img {
    position: relative;
    padding-right: 4px;
}

#home-page h1 {
    position: relative;
    left: 0;
}

h1.indi-sim {
    width: 578px;
    font-weight: bold;
    text-transform: uppercase;
    font-variant: small-caps;
    letter-spacing: 1px;
    color: #000;
    font-family: "arial", Verdana, Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #c60;
    margin: 0;
    padding-top: 5px;
    border-top: 1px solid #c60;
}

.cellTwo {
    font-size: 10px;
    line-height: 14px;
    text-transform: none;
    width: 500px;
    padding: 0px 0px 0px 10px;
}

.imageOne {
    margin: 0px 0 5px 0px;
}

.caption {
    line-height: 1em;
    padding: 0;
    margin: 0;
    text-align: center;
}

/* list of people -- e.g. contacts page */
#people ul {
    margin-top: 10px;
    font-size: 15px;
    padding: 0;
    margin-left: 2em;
    margin-right: 2em;
}

#people ul li {
    position: relative;
    border-bottom: 1px solid #E3E3E3;
    clear: right;
}

#people ul li.simple {
    position: relative;
    border-bottom: none;
    clear: right;
}

#people ul li.hewlett,#people ul li.nsf,#people ul li.kavli,#people ul li.cu,#people ul li.microsoft,#people ul li.ksu
    {
    font-size: 14px;
    position: relative;
    border-bottom: 1px solid #E3E3E3;
    background: none;
    padding: 10px 0px 30px 0px;
}

#people img.sponsors {
    float: right;
    margin-bottom: 1em;
}

#people img.bordered_sponsors {
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    float: right;
    margin-bottom: 1em;
}

.faq {
    width: 500px;
}

#faq ul li {
    margin-bottom: 1.5ex;
}

#faq ul li a {
    font-size: 10pt;
}

.ac_results {
    padding: 0px;
    border: 1px solid WindowFrame;
    background-color: Window;
    overflow: hidden;
}

.ac_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ac_results iframe {
    display: none; /*sorry for IE5*/
    display /**/: block; /*sorry for IE5*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /*filter:mask(); */ /* IE5?? */
    width: 3000px;
    height: 3000px;
}

.ac_results li {
    margin: 0px;
    padding: 2px 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    font: menu;
    font-size: 12px;
    overflow: hidden;
}

.ac_loading {
    
}

.ac_over {
    background-color: black;
    color: white;
}

#quicksubmit table.form tr td:first-child {
    width: 10%;
}

#content #keywords *.keywordlist {
    padding: 0;
    margin: 0;
}

#content #keywords a {
    position: relative;
    margin-left: 0px;
    margin-right: 10px;
    font-style: normal;
    font-weight: normal;
    text-align: right;
}

#content *.compact table {
    background-color: transparent;
    padding: 0;
    margin: 5px 10px 20px 10px;
    border-collapse: collapse;
}

#content *.compact table td {
    background-color: transparent;
    padding: 0.25ex 0 1ex 2ex;
    margin: 0 0 0 0;
    border-style: none;
    vertical-align: top;
}

#content *.compact tbody td input {
    margin-top: 2ex;
}

#content *.compact table thead td {
    font-weight: bold;
    border-bottom: 1px solid rgb(220, 220, 220);
}

#content *.compact table tbody td ul {
    padding: 0;
    margin: 0.5ex 0.5ex 0.5ex 1.5em;
}

#ajax_email_comment_uid {
    position: relative;
    top: -1ex;
}

#ajax_password_comment_uid {
    position: relative;
    top: -1ex;
}

div.research .title {
    
}

div.research .authors {
    
}

div.research .publication_name {
    font-style: italic;
}

div.research .publication_date {
    
}

div.research .publication_lookup {
    
}

div.research .publication_mainlink {
    
}

div.research .publication_pdflink {
    
}

div.research .publication_htmllink {
    
}

/******** =localNav ********/ /* The navigation bar */
#localNav {
    background: none;
    color: #727272;
    float: left;
    margin: 0 0 0 0;
    padding: 0 40px 0 0;
    width: 200px;
}

/* Default settings for all lists in the navigation bar */
#localNav ul {
    background: none;
    font-size: 11pt;
    font-weight: bold;
    margin: 0 0 0px 0;
    padding: 0 0 1ex 0;
}

#localNav ul li {
    list-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0.5ex 0;
    clear: right;
}

#localNav ul li a {
    border-bottom: none;
    color: #727272;
    display: block;
    text-decoration: none;
}

#localNav ul li a:hover {
    color: #d36a04;
}

#localNav a.topnav,#localNav a.topnav-selected {
    padding: 0 0 0 15px;
}

#localNav a.topnav-selected {
    background-image: url("../images/selectedArrow_Icon.gif");
    background-position: left 0.25ex;
    background-repeat: no-repeat;
    color: #d36a04;
}

#localNav a.current {
    color: #d36a04;
    font-weight: bold;
}

/* Settings for second-level categories in the navigation bar */
    /* The unordered list */
#localNav ul.subnav {
    background: none;
    font-weight: bold;
    margin: 0 0 0.5ex 20px;
    padding: 0;
}

/* The list items */
#localNav li.subnav,#localNav li.subnav-selected {
    font-size: 13px;
}

/* Links inside the list items */
#localNav li.subnav a.subnav,#localNav li.subnav-selected a.subnav-selected
    {
    padding: 0.75ex 0 0 10px;
}

/* Link inside the current subcategory */
#localNav li.subnav-selected a.subnav-selected {
    color: #d36a04;
    background-repeat: no-repeat;
    background-position: left 1.1ex;
    background-image: url("../images/arrow-right.gif");
}

#sponsors {
    
}

img.sponsors {
    float: left;
    margin: 0px 3px 0px 0px;
}

/* -------- Related Links --------*/
#sponsors dl {
    width: 158px;
    background: url("../images/relatedLinksBTTM_BG.gif") left bottom
        no-repeat;
    background-color: #d8eaf4;
    font-size: 0.9em;
    padding: 0 10px 10px 10px;
    margin: 0 auto;
    border: none;
}

#sponsors dt,#sponsors dd {
    margin: 0;
    padding: 0 0 4px 18px;
}

#sponsors dt {
    background: url("../images/circleArrow_Icon.gif") left 3px no-repeat;
}

#sponsors dd {
    border-bottom: solid 1px #ccc;
    color: #313131;
    line-height: 1.2em;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

#sponsors dd.first {
    border: none;
}

#sponsors dt a,#sponsors dd a {
    color: #294ca8;
    font-weight: bold;
    text-decoration: underline;
}

#sponsors h4 {
    color: #0d2973;
}

#sponsors div.header {
    width: 178px;
    height: 8px;
    background: url("../images/relatedLinks_BG.gif") left bottom no-repeat;
    padding: 0;
    margin: 0 auto;
    border: none;
}

#referring-statistics {
    margin-left: 2em;
    margin-right: 2em;
    border: 1px solid black;
    border-collapse: collapse;
}

#referring-statistics thead td {
    background-color: gray;
}

/* TODO: Create a CSS file for IE and add this to it (does it even work?) */
    /*
#referring-statistics tbody tr:nth-child(even) {
background-color: rgb(210, 210, 210);
}
*/
#simrunoptions table {
    width: 300px;
    clear: left;
    border-collapse: collapse;
}

#simrunoptions table tr td {
    width: 150px;
    margin: 0;
    padding: 0;
}

#simrunoptions div.rage_button_358398 {
    float: right;
    width: 80px;
    height: 20px;
}

#simrunoptions div.rage_button_358398 a {
    display: block;
    margin: 0px;
    overflow: hidden;
    text-decoration: none;
    height: 100%;
    background: url("../images/run_now!.png") top left no-repeat;
    color: #000000;
    font-family: 'Verdana';
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
}

#simrunoptions div.rage_button_358398 a:hover {
    background-position: -80px 0;
    color: #000000;
}

#simrunoptions div.rage_button_358398 a:active {
    background-position: -160px 0;
    color: #000000;
}

#simrunoptions div.rage_button_928365 {
    float: left;
    width: 90px;
    height: 20px;
}

#simrunoptions div.rage_button_928365 a {
    display: block;
    margin: 0px;
    overflow: hidden;
    text-decoration: none;
    height: 100%;
    background: url("../images/run_offline.png") top left no-repeat;
    color: #000000;
    font-family: 'Verdana';
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
}

#simrunoptions div.rage_button_928365 a:hover {
    background-position: -90px 0;
    color: #000000;
}

#simrunoptions div.rage_button_928365 a:active {
    background-position: -180px 0;
    color: #000000;
}

#content div.rage_button_357660 {
    width: 151px;
    height: 20px;
    padding: 1em;
    margin: 0 auto;
}

#content div.rage_button_357660 a {
    display: block;
    margin: 0px;
    overflow: hidden;
    text-decoration: none;
    height: 100%;
    background: url("../images/back_to_simulations.png") top left no-repeat;
    color: #000000;
    font-family: 'Verdana';
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
}

#content div.rage_button_357660 a:hover {
    background-position: -151px 0;
    color: #000000;
}

#content div.rage_button_357660 a:active {
    background-position: -302px 0;
    color: #000000;
}

#content div.rage_button_218928 {
    width: 197px;
    height: 20px;
    padding: 1em;
    margin: 0 auto;
}

#content div.rage_button_218928 a {
    display: block;
    margin: 0px;
    overflow: hidden;
    text-decoration: none;
    height: 100%;
    background: url("../images/related_activities_&_ideas.png") top left
        no-repeat;
    color: #000000;
    font-family: 'Verdana';
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
}

#content div.rage_button_218928 a:hover {
    background-position: -197px 0;
    color: #000000;
}

#content div.rage_button_218928 a:active {
    background-position: -394px 0;
    color: #000000;
}

#utility-panel {
    width: 20em;
    height: 1em;
    position: absolute;
    right: 1em;
    top: 1em;
    text-align: right;
    color: white;
}

#utility-panel a,#utility-panel a:visited,#utility-panel a:hover,#utility-panel a:active
    {
    color: white;
    text-decoration: underline;
}

#translated-versions {
    margin-bottom: 1em;
}

#translated-versions table td {
    vertical-align: middle;
    text-align: center;
}

#translated-versions table thead td {
    font-weight: bold;
}

#translated-versions table tbody td form {
    margin-top: auto;
    margin-bottom: auto;
}

#translated-versions table tr.odd  td.odd {
    background-color: rgb(215, 215, 215);
}

#translated-versions table tr.odd td.even {
    background-color: rgb(200, 200, 200);
}

#translated-versions table tr.even td.even {
    background-color: rgb(245, 245, 245);
}

#translated-versions table tr.even td.odd {
    background-color: rgb(230, 230, 230);
}

#translated-versions table tbody td a.translate-prompt {
    display: block;
    width: 25px;
    height: 25px;
}

.error_text {
    font-weight: bold;
    color: red;
}

.result_box_success {
    border: 1px solid green;
    background-color: #ccffcc;
    padding: 10px 10px 10px 10px;
}

.result_box_success p {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 20px;
}

.result_box_failure {
    border: 1px solid red;
    background-color: #ffcccc;
    padding: 10px 10px 10px 10px;
}

.result_box_failure p {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 20px;
}

.result_box_heading {
    font-weight: bold;
}

/* Workshops */
.workshop {
    padding-left: 1em;
    padding-bottom: 3em;
}

.workshop h3 {
    font-weight: bold;
}

.workshop-title {
    padding-left: 0em;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.workshop-date ul {
    margin-top: 0px;
    padding-left: 2em;
}

.workshop-location {
    
}

.workshop-downloadables {
    
}

.workshop-description {
    
}

/* Contribution admin control panel */
#contribution_control_panel fieldset {
    border: 2px solid red;
    color: red;
    font-weight: bold;
}

#contribution_control_panel fieldset #contribution_status {
    float: left;
    background-color: #eeeeee;
}

#contribution_control_panel fieldset #contribution_status .approved {
    color: #44bb44;
}

#contribution_control_panel fieldset #contribution_status .unapproved {
    color: #bb4444;
}

#contribution_control_panel fieldset #contribution_options {
    float: left;
}

#contribution_control_panel fieldset #contribution_options p {
    margin-bottom: 0px;
}

#contribution_control_panel fieldset #contribution_options ul {
    margin-top: 0px;
}

/* Contribution Guidelines page */
div.contribution_guidelines h1,
div.contribution_guidelines h2,
div.contribution_guidelines h3 {
    text-align: center;
}

div.contribution_guidelines li .header {
    font-weight: bold;
    font-size: larger;
}

div.contribution_guidelines li .content {
    font-weight: normal;
}

div.contribution_guidelines li {
    font-weight: bold;
    padding-bottom: 1em;
}

/* Uganda workshop */
div.workshop_uganda_photos table  tr td {
    text-align: center;
}