
.phet .radioButtons, .checkButtons, .draggable, .button, .radioButtonsIpad g {
  cursor: pointer;
}

.noselection {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}

.radioButtonsView, .radioButtonsIpad {
  display: none;
}

.checkButtons, .checkButtonsIpad {
  display: none;
}

.aboutButton {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0px;
  margin: 0px;
}

.aboutPopup, .aboutSoftware {
  display: none;
}

.aboutMain {
  width: 280px;
  height: 270px;
  border: 2px groove #c0c0c0;
  border-radius: 8px;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  font-size: 10pt;
  color: #0b333c;
}

.aboutSoftware .aboutMain {
  width: 480px;
  height: 470px;
}

.aboutMainInner {
  width: 100%;
  height: 100%;
  background: #e6e6e6;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: scroll;
}

.aboutHeader {
  height: 25px;
  background: #efefef;
  border: 1px solid #c0c0c0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  vertical-align: middle;
  padding: 3px;
  text-align: center;
  border-bottom-width: 0;
}

.aboutBody {
  border: 1px solid #c0c0c0;
  border-bottom-width: 0;
  padding: 3px;
  height: 195px;
  overflow: auto;
}
.aboutFooter {
  border: 1px solid #c0c0c0;
  border-top-width: 0;
  padding: 3px;
}

input[type="button"] {
  cursor: pointer;
}

.blockUI.blockMsg.blockPage {
  background-color: transparent !important;
  border: 0 !important;
}

/* Copyright 2002-2012, University of Colorado */

/* Styling of the Prototype dialog, prototype-dialog.html -----------------------------------*/

/* Overlay that covers the entire document area. */
#prototype-dialog-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.33); /* makes everything behind the dialog look dimmed */
    z-index: 99; /* Make sure the dialog is in front of everything */
}

/* the content is everything inside the dialog */
#prototype-dialog-content {
    font-family: Arial;
    background: white;
    border: 2px solid #445;
    border-radius: 1em;
    margin: 6% 12%;
    max-height: 75%;
    overflow: auto;
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.5);
    -webkit-overflow-scrolling: touch;
}

/* the body is everything except the title */
#prototype-dialog-body {
    margin: 1ex 1.6em;
    padding-bottom: 1ex;
}

/* title */
#prototype-dialog-title {
    margin: 0 0 0.5em 0;
    padding: 0.4em 0.6em;
    text-align: center;
    background: #eee;
    border-bottom: 1px solid #444;
}

/* PhET logo */
#prototype-dialog-logo {
    float: left;
    margin-right: 1em;
}

/* text message */
#prototype-dialog-text {
    overflow: hidden; /* prevents float at left from creating ragged edge */
}

/* OK button */
#prototype-dialog-ok-button {
    display: table;
    margin: 0 auto;
    margin-top: 10px;
}
